/* BASIC CODE */
body {
    position: relative;
    min-width: 320px;
    font-size: 0.75em;
}
.hidden  {
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px;
    width: 0;
    height: 0;
}
.goTopbtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 48px;
}
.goTopbtn a img {
    width: 100%;
}
.goTopbtn.on {
    bottom: 75px; 
}
.width8p {
    width: 8%;
}
.width10p {
    width: 10%;
}
.width20p {
    width: 20%;
}
.width21p {
    width: 21%;
}
.width21n5p {
    width: 21.5%;
}
.width22p {
    width: 22%;
}
.width24p {
    width: 24%;
}
.width25p {
    width: 25%;
}
.width29n5p {
    width: 29.5%;
}
.width30p {
    width: 30%;
}
.width32p {
    width: 32%;
}
.width32n5p {
    width: 32.5%;
}
.width34p {
    width: 34%;
}
.width35p {
    width: 35%;
}
.width40p {
    width: 40%;
}
.width45p {
    width: 45%;
}
.width49p {
    width: 49%;
}
.width50p {
    width: 50%;
}
.width55p {
    width: 55%;
}
.width60p {
    width: 60%;
}
.width65p {
    width: 65%;
}
.width70p {
    width: 70%;
}
.width74p {
    width: 74%;
}
.width75p {
    width: 75%;
}
.width80p {
    width: 80%;
}
.width85p {
    width: 85%;
}
.width88p {
    width: 88%;
}
.width90p {
    width: 90%;
}
.width95p {
    width: 95%;
}
.width100p {
    width: 100%;
}

.mt1p {
    margin-top: 1%;
}
.ml1p {
    margin-left: 1%;
}

.pl1p {
    padding-left: 1%;
}
.pl2p {
    padding-left: 2% !important;
}

.lh20 {
    line-height: 20px !important;
}

.lh30 {
    line-height: 30px !important;
}

.tx-dark-blue,
.cop-color {
    color: #0c5dc0;
}
.tx-bright-brown,
.gosi-color {
    color: #ba560e;
}

input {
    color: #333;
    border: 1px solid #d4d4d4;
    padding: 0 3.2rem 0 0.6rem;
}
::placeholder {
    color: #333;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}
button {
    padding: 0;
}
select {
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    border-radius:0;
    min-width: 4rem;
    height: 2.5rem;
    background: url("../../../img/willbes/m/mypage/icon_select_arrow.png") no-repeat 95% center;
    background-size: 0.8rem;
    position: relative;
    padding: 0 1.8rem 0 0.6rem;
    display: inline-block;
    border: 1px solid #d4d4d4;
    color: #333;
    cursor: pointer;
}
span {
    vertical-align: baseline;
}

/* Aside */
#aside {
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    -webkit-transition:transform 0.3s ease;
    transition:transform 0.3s ease;
    z-index: 4;
}
#aside.on {
    visibility:visible; 
    -webkit-transform: translate3d(100%, 0px, 0px);
    -moz-transform: translate3d(100%, 0px, 0px);
    -o-transform: translate3d(100%, 0px, 0px);
    -ms-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px);
}
.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 3;
}
#aside h1 {
    background: #1a8ccc;
    height: 52px;
    font-size: 18px;
    color: #fff;
    line-height: 52px;
    padding-left: 20px;
}
#aside .List {
    font-size: 14px;
    color: #000;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}
#aside .Depth,
#aside .List-Depth {
    font-size: 12px;
    color: #4d4d4d;
    line-height: 20px;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #ccc;
}
#aside .List-Depth {
    display: none;
}

/* Header : 공통 */
#Header .Menu-List {
    height: 52px;
    border-bottom: 1px solid #ccc;
}
#Header button.menubar {
    background: url("../../../img/willbes/m/main/icon_menu.png") no-repeat center center;
    background-size: 100%;
    width: 46px;
    height: 46px;
    border: none;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -23px;
}
#Header button.mypage {
    background: url("../../../img/willbes/m/main/icon_mypage.png") no-repeat center center;
    background-size: 100%;
    width: 46px;
    height: 46px;
    border: none;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -23px;
}
#Header button.myacad {
    background: url("../../../img/willbes/m/main/icon_myacad.png") no-repeat center center;
    background-size: 100%;
    width: 46px;
    height: 46px;
    border: none;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -23px;
}
#header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -50px;
}
#header .logo a {
    display: inline-block;
    width: 100px;
}
#header .logo a img {
    width: 100%;
}
#Header .Login-List {
    height: 52px;
}
#header .myLog {
    float: right;
    margin-right: 15px;
}
#header .myLog li {
    float: left;
    line-height: 52px;
}
#header .myLog li a {
    font-size: 14px;
}
#header .myLog .row-line {
    background: #b7b7b7;
    width: 1px;
    height: 10px;
    margin: -5px 10px 0;
}

/* MainTxtBnr */
.MainTxtBnr {
    background: #0c5dc0;
    height: 36px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 34px;
}
.MainTxtBnr strong {
    font-size: 14px;
    font-weight: bold;
}

/* Login Form */

/* Basic Code */
body.memBody .widthAuto,
body.memBody .widthAuto320,
body.memBody .widthAuto460,
body.memBody .widthAuto550,
body.memBody .widthAuto690,
body.memBody .widthAuto770 {
    width: 100% !important;
    margin: 0 auto;
}
body.memBody #Gnb,
body.memBody #Header,
body.memBody #Footer {
    display: none;
}

/* Login Form : 공통 */
.mem-Tit {
    text-align: center;
    padding: 35px 0 70px;
}
.mem-Tit span {
    font-family: "NotoSansCJKkr-Regular", "Noto Sans KR", "Malgun Gothic", "맑은 고딕";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -2px;
    display: inline-block;
    padding-top: 11px;
    padding-left: 11px;
    vertical-align: middle;
}
.Member {
    padding: 0 5%;
    letter-spacing: 0;
}
.Member .inputBox {
    height: auto;
    margin-bottom: 14px;
}
.Member .inputBox input {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #d4d4d4;
}

/* Login Form : 로그인 */
.mem-Login button.mem-Btn {
    height: 40px;
}
.mem-Login .chkBox {
    margin-bottom: 20px;
}
.mem-Login .chkBox ul {
    height: 20px;
}
.mem-Login .chkBox ul li {
    float: left;
    width: 50%;
    line-height: 18px;
}
.mem-Login .chkBox ul li input[type=checkbox] {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0;
    cursor: pointer;
}
.mem-Login .chkBox ul li .labelSave {
    padding-left: 10px;
}



/*********************************************     INTRO PAGE     *********************************************/
.introBox .Tit {
    font-size: 18px;
    padding:20px 0;
    background: #1a8ccb;
    text-align: center;
    color:#fff;
}
.introBox {
    background: #1b98ef;
}
.introBox img {
    width: 100%; 
}
.introBox img a {
    display: block;
    width: 100%;
    height: 100%;
}
.introBox li {display:inline; float:left; width: 50%;}
.introBox li:last-child { 
    background: #eb8136;
}
.introBox ul:after {content:''; display:block; clear:both}
.introBox li div {padding:50px 10px; text-align: center}
.introBox .subTit {
    font-size: 14px;
}
.introBox .siteTit {
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
    line-height: 1.5;
}
.introBox .siteTit span {
    color:#fff;
    border-bottom:2px solid #fff;
    margin-bottom:3px;
}
.introBox .siteTit span:last-child {
    color:#000;
    border-bottom:2px solid #000;
}
.introBox .btnGo {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 40px;
    color:#fff;
}





/*********************************************     MAIN PAGE     *********************************************/

/* MainSlider */

/* Slider BASIC */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    width: 100%;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
}
.swiper-pagination-bullet,
.swiper-button-next, 
.swiper-button-prev {
    border: none;
    outline: none;
}
[role="button"]:active {
    background: #000
}
[role="button"]:link {
    background: #f90
}
[role="button"]:visited {
    background: #f00
}

/* Main : MainSlider */
.MainSlider,
.MainSlider .swiper-wrapper,
.MainSlider .swiper-slide {
    height: auto;
}
.MainSlider > .swiper-pagination-bullets, 
.MainSlider .swiper-pagination-custom, 
.MainSlider .swiper-pagination-fraction {
    float: right;
    width: auto;
    height: 12px;
    top: 15px;
    right: 10px;
    text-align: right;
    padding: 0;
}
.MainSlider .swiper-pagination-bullet {
    background: #fff;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 12px;
    margin: 0 2px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    color:#000;
    opacity: 1;
}
.MainSlider .swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
}

/* Main : MainBnrSlider */
.MainBnrSlider,
.MainBnrSlider .swiper-wrapper,
.MainBnrSlider .swiper-slide {
    height: auto;
}
.MainBnrSlider .swiper-button-next,
.MainBnrSlider .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 49px;
    height: 45px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    left: auto;
    right: auto;
}
.MainBnrSlider .swiper-button-next,
.MainBnrSlider .swiper-container-rtl .swiper-button-prev {
    background: url("../../../img/willbes/m/main/btn_next_blue.png") no-repeat center center;
    right: 0;
}
.MainBnrSlider .swiper-button-prev,
.MainBnrSlider .swiper-container-rtl .swiper-button-next {
    background: url("../../../img/willbes/m/main/btn_prev_blue.png") no-repeat center center;
    left: 0;
}
.MainBnrSlider .swiper-button-next.swiper-button-disabled, 
.MainBnrSlider .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
}

/* MainFixBnr */
.MainFixBnr {
    float: left;
    width: 100%;
}
.MainFixBnr ul li {
    float: left;
    width: 50%;
}
.MainFixBnr ul li img {
    width: 100%;
}
.swiper-slide img {
    width: 100% !important;
}
/* line 공통 */
.line {
    background: #e9e9e9;
    height: 5px;
    border-bottom: 1px solid #ccc;
    text-indent: -9999px;
}

/* Main : MainCampusTabs */
.MainCampusTabs .willbes-Txt-Tit {
    border-bottom: 1px solid #e4e4e4;
    margin: 20px 20px 0;
}

/* Main : MainCampusSlider */
.MainCampusSlider,
.MainCampusSlider .swiper-wrapper,
.MainCampusSlider .swiper-slide {
    height: auto;
}
.MainCampusSlider {
    width: auto;
    margin: 0 20px;
    overflow: hidden;
}
.MainCampusSlider .swiper-wrapper {
    height: 50px;
}
.MainCampusSlider .swiper-slide {
    width: auto !important;
    height: 50px;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
}
.MainCampusSlider .swiper-slide a {
    float: left;
    display: block;
    padding: 0 20px;
    line-height: 50px;
    font-size: 12px;
}
.MainCampusSlider .swiper-slide a.on {
    color: #1a8ccc;
}
.MainCampusSlider .swiper-slide .row-line {
    background: #b5b5b5;
    width: 1px;
    height: 8px;
    margin: 21px 0;
}

/* Main : MainCampusListSlider */
.MainCampusListSlider,
.MainCampusListSlider .swiper-wrapper,
.MainCampusListSlider .swiper-slide {
    height: auto;
}
.MainCampusListSlider .swiper-button-next,
.MainCampusListSlider .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 49px;
    height: 45px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    left: auto;
    right: auto;
}
.MainCampusListSlider .swiper-button-next,
.MainCampusListSlider .swiper-container-rtl .swiper-button-prev {
    background: url("../../../img/willbes/m/main/btn_next_gray.png") no-repeat center center;
    right: 0;
}
.MainCampusListSlider .swiper-button-prev,
.MainCampusListSlider .swiper-container-rtl .swiper-button-next {
    background: url("../../../img/willbes/m/main/btn_prev_gray.png") no-repeat center center;
    left: 0;
}
.MainCampusListSlider .swiper-button-next.swiper-button-disabled, 
.MainCampusListSlider .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
}
.MainCampusListSlider {
    background: #eaeaea;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.campuslistWrap {
    width: auto;
    margin: 0 50px;
}
.MainCampusListSlider .swiper-slide {
    background: none;
    width: auto !important;
    height: 48px;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
}
.MainCampusListSlider .swiper-slide a {
    display: inline-block;
    padding: 0 20px;
    line-height: 48px;
    font-size: 12px;
}
.MainCampusListSlider .swiper-slide a.on {
    color: #1a8ccc;
}

/* Tabs : lineTab 공통 */
.lineTabs {
    float: left;
    width: 100%;
    padding: 20px;
}

/* Tabs : lineTab : lineWrap 공통 */
.lineWrap.one li {
    width: 100%;
}
.lineWrap.two li {
    width: 50%;
}
.lineWrap.three li {
    width: 33.33333333%;
}
.lineWrap.four li {
    width: 25%;
}
.lineWrap.five li {
    width: 20%;
}

/* Tabs : lineTab : boxlineWrap 공통 */
.boxlineWrap {
    height: 45px;
    border-bottom: 1px solid #1a8ccc;
}
.boxlineWrap li {
    float: left;
    height: 45px;
    box-sizing: border-box;
}
.boxlineWrap li a {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 43px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: 0;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.boxlineWrap li a img {
    vertical-align: top;
    margin-top: 11px;
    height: 25%;
}
.boxlineWrap li a span {
    vertical-align: baseline;
}
.boxlineWrap li:first-child a {
    border-left: 1px solid #e4e4e4;
} 
.boxlineWrap li a.on {
    position: relative;
    z-index: 2;
    background: #fff;
    height: 45px;
    border-top: 1px solid #1a8ccc;
    border-left: 1px solid #1a8ccc;
    border-right: 1px solid #1a8ccc;
}

/* Tabs : lineTab : rowlineWrap 공통 */
.rowlineWrap {
    height: 45px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.rowlineWrap li {
    position: relative;
    float: left;
    height: 45px;
    box-sizing: border-box;
}
.rowlineWrap li a {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 44px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: 0;
    border-bottom: 1px solid #e4e4e4;
}
.rowlineWrap li a img {
    vertical-align: top;
    margin-top: 11px;
    height: 25%;
}
.rowlineWrap li a span {
    vertical-align: baseline;
} 
.rowlineWrap li a.on {
    position: relative;
    z-index: 2;
    background: #fff;
    color: #1a8ccc !important;
    border-bottom: 2px solid #1a8ccc;
}
.rowlineWrap li .row-line {
    position: absolute;
    top: 50%;
    right: 0;
    background: #e4e4e4;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    z-index: 3;
}

/* Tabs : buttonTab 공통 */
.buttonTabs {
    float: left;
    width: 100%;
    padding: 20px;
}
.buttonWrap {
    height: 42px;
}
.buttonWrap li {
    float: left;
    height: 42px;
    box-sizing: border-box;
}
.buttonWrap li a {
    display: block;
    width: 100%;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    color: #000;
    text-align: center;
    letter-spacing: 0;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.buttonWrap li:first-child a {
    border-left: 1px solid #e4e4e4;
}
.buttonWrap li a.on {
    position: relative;
    z-index: 2;
    background: #1a8ccc;
    font-weight: 600;
    color: #fff;
}
.buttonWrap.one li {
    width: 100%;
}
.buttonWrap.two li {
    width: 50%;
}
.buttonWrap.three li {
    width: 33.33333333%;
}
.buttonWrap.four li {
    width: 25%;
}
.buttonWrap.five li {
    width: 20%;
}

/* Main : Tabs : lecProfBox */
.tabSection {
    float: left;
    width: 100%;
    padding: 20px;
}
.lecProfWrap li a {
    font-size: 14px;
}
.lecProfTabs {
    padding: 0;
}
.lecProfBox ul {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e4e4e4;
}
.lecProfBox ul:first-child {
    border-top: none;
}
.lecProfBox ul li {
    float: left;
}
.lecProfBox ul li.w-list {
    width: 70%;
    margin-left: 15px;
}
.lecProfBox ul li .w-tit {
    font-size: 14px;
    color: #000;
    line-height: 24px;
    padding: 10px 0;
    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lecProfBox ul li .w-name {
    font-size: 12px;
    color: #707070;
}

/* Main : Tabs : noticeBox */
.noticeBox .List-Table li {
    font-size: 12px;
    line-height: 40px;
    height: 42px;
    border-top: 1px solid #e4e4e4;
}
.noticeBox .List-Table li:first-child {
    border-top: none;
}
.noticeBox .List-Table li a {
    float: left;
    width: 70%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.noticeBox .List-Table li .date {
    float: right;
    width: 30%;
    color: #959595;
    text-align: right;
}

/* appPlayer */
.appPlayer {
    padding: 0 20px;
}
.appPlayer img {
    width: 100%;
}

/* Footer */
#Footer {
    background: #ececec;
    border-top: 1px solid #ccc;
}
#Footer .ft-Link {
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 20px 0;
}
#Footer .ft-Link ul li {
    display: inline-block;
    margin: 0 3%;
}
#Footer address {
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 16px;
}



/*********************************************     CONTAINER PAGE     *********************************************/
.Container:after {
    content: '';
    display: block;
    clear: both;
}

/* Tit : 공통 */
.willbes-Tit {
    font-size: 16px;
    color: #323232;
    text-align: center;
    line-height: 48px;
    background: #ececec;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.willbes-Tit button.goback {
    background: url("../../../img/willbes/m/main/icon_goback.png") no-repeat center center;
    background-size: 100%;
    width: 46px;
    height: 46px;
    border: none;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -23px;
}
.sticky-Title {
    position: relative;
    height: 50px;
}
.sticky-topTit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    height: auto;
}
.sticky-topTit.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
}
.willbes-List-Tit {
    font-size: 16px;
    color: #323232;
    padding: 15px 20px;
}
.willbes-Txt {
    font-size: 12px;
    color: #3a3a3a;
    line-height: 20px;
    padding: 0 20px 20px; 
    border-bottom: 1px solid #ccc;
}
.willbes-Txt.on {
    height: 40px;
    overflow: hidden;
    margin-bottom: 0 !important;
}
.willbes-Txt span {
    vertical-align: baseline;
}
.willbes-Txt-Tit {
    font-size: 14px;
    color: #3a3a3a;
    line-height: 40px;
}
.willbes-Txt-Tit .row-line {
    background: #b5b5b5;
    width: 1px;
    height: 12px;
    margin: 0 10px;
}
.willbes-Txt-Tit .MoreBtn {
    float: right;
}
.willbes-Txt-Tit .MoreBtn a {
    font-size: 14px;
}
.willbes-Line {
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 48px;
    background: #1a8ccc;
    height: 50px;
    padding-left: 20px;
}
.willbes-Lec-Selected {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
}
.willbes-Lec-Selected select {
    float: left;
    font-size: 14px;
    height: 40px;
}
.willbes-Lec-Selected .chkBox {
    position: absolute;
    top: 20px;
    right:20px;
    float: right;
    font-size: 14px;
    text-align: right;
    line-height: 40px;
}
.willbes-Lec-Selected .chkBox.line2 {
    top: 65px;
}
.willbes-Lec-Selected .chkBox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 10px 4px 10px 0;
}
.willbes-Lec-Selected .chkBox span {
    float: right;
    font-size: 0.75rem
}
.willbes-Lec-Selected .resetBtn {
    right: 20px;
    bottom: 20px;
    width: 37px;
    height: 40px;
}
.willbes-Lec-Selected .resetBtn a {
    display: block;
    border: 1px solid #d4d4d4
}
.willbes-Lec-Selected .resetBtn a img {
    width: 100%;
}

.willbes-WriteBox {
    width: 100%;
    float: left;
    padding: 0 20px;
}
.willbes-WriteBox textarea {
    border: 1px solid #d4d4d4;
    resize: none;
    width: 100%;
    height: 315px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 24px;
    padding: 20px;
}

/* btn : 공통 */
.btn_white {
    background: #fff;
    border: 1px solid #c9c9c9;
    color: #636363;
}
.btn_gray {
    background: #636363;
    border: 1px solid #636363;
    color: #fff;
}
.btn_black {
    background: #000;
    border: 1px solid #000;
    color: #fff;
}
.btn_black_line {
    background: #fff;
    border: 1px solid #000;
    color: #000;
}
.btn_blue {
    background: #1a8ccc;
    border: 1px solid #1a8ccc;
    color: #fff;
}
.btn-purple {
    background: #264abf;
    border: 1px solid #264abf;
    color: #fff;
}

/* 상태 공통 */
.w-info dt .nBox {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 14px;
    padding: 3px 6px;
    vertical-align: middle !important;
}
.w-info dt .nBox.n1 {
    background: #f14078;
}
.w-info dt .nBox.n2 {
    background: #21abc8;
}
.w-info dt .nBox.n3 {
    background: #1087ef;
}
.w-info dt .nBox.n4 {
    background: #333
}
.w-info dt .nBox.n5 {
    background: #fe3333
}
.w-info dt .nBox.n6 {
    background: #46a1dc
}

.w-info .lBox {
    display: inline-block;
    min-width: 50px;
    height: 30px;
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 30px;
    padding: 0 6px;
    border: 1px solid #000
}
.w-info .lBox.n1 {
    background: #fff;
    color: #1a8ccc;
    border-color: #1a8ccc;
}
.w-info .lBox.n2 {
    background: #4b4b4b;
    color: #fff;
    border-color: #4b4b4b;
}

/* lecTable : 공통 */
.lecAllChk {
    margin: 20px;
}
.lecAllChk input[type="checkbox"] {
    float: left;
    width: 20px;
    height: 20px;
}
.lecAllChk label {
    font-size: 15px;
    line-height: 19px;
    margin-left: 5px
}
.lecTable .w-tit {
    font-size: 14px;
    color: #323232;
    line-height: 20px;
}
.lecTable .w-info {
    font-family: "NanumGothic-Regular", "Nanum Gothic", "나눔고딕", "sans-serif";
    font-size: 12px;
    line-height: 16px;
}
.lecTable .w-info span {
    vertical-align: baseline;
}
.lecTable .w-info .row-line {
    background: #b5b5b5;
    width: 1px;
    height: 8px;
    margin: 0 5px;
}
.lecTable .w-info.acad {
    line-height: 30px;
}
.lecTable .w-file {
    font-size: 14px;
    line-height: 30px;
    padding: 10px 0;
}
.lecTable .w-file a {
    display: block;
}
.lecTable .w-file a img {
    padding-right: 5px;
}
.lecTable .w-txt {
    font-size: 14px;
    line-height: 24px;
}
.lecTable .w-txt img,
.lecTable .w-txt p img {
    width: 100% !important;
    height: auto !important;
    max-width: 900px;
}
.lecTable .w-subtxt {
    width: 45%;
} 
.lecTable .w-start {
    font-size: 12px;
    margin: 20px -20px 0;
    padding: 15px 20px;
    border-top: 1px solid #ccc;
    line-height: 33px;
    height: 65px;
}
.lecTable .w-start ul li {
    float: left;
    height: 34px;
    margin: 0 1%;
}
.lecTable .w-start ul li a {
    display: block; 
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    letter-spacing: -1px;
}
.lecTable .w-start ul.one {
    width: 25%;
}
.lecTable .w-start ul.one li {
    width: 98%;
}
.lecTable .w-start ul.two {
    width: 55%;
}
.lecTable .w-start ul.two li {
    width: 48%;
}
.lecTable .w-start-go-pay {
    margin: 0;
    padding: 0;
    border: 0;
    height: auto;
}
.lecTable .w-s-date {
    background: #e9e9e9;
    font-size: 14px;
    margin: 20px -20px 0;
    line-height: 49px;
}
.lecTable .w-s-date .grid {
    border-top: 1px solid #ccc;
    padding: 0 20px;
}
.lecTable .w-s-date input[type="text"] {
    width: 15%; 
    min-width: 80px;
    height: 30px;
    padding: 0 0.6rem;
}
.lecTable .w-line {
    background: #e9e9e9;
    height: 15px;
    margin: 0 -20px;
    border-top: 1px solid #ccc;
    text-indent: -9999px;
}
.lecTable tr td {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.lecTable tr td:first-child {
    padding-left: 20px;
}
.lecTable tr td:last-child {
    padding-right: 20px;
}
.lecTable tr td.w-data a {
    display: block;
}
.lecTable dl dt {
    display: inline-block;
}
.lecTable input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* ETC : 나머지 버튼 공통 */
.InfoBtn {
    float: left;
    font-size: 12px;
}
.InfoBtn a {
    display: block;
    width: 100%;
    padding: 11px 15px;
}
.InfoBtn a span {
    vertical-align: baseline;
}
.btnBox {
    clear: both;
    width: 100%;
    float: left;
    padding: 0 20px;
}
.btnBox ul li {
    margin-right: 5px
}
.AddlecMore {
    clear: both;
}
.AddlecMore a {
    background: #1a8ccc;
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 10px 20px;
}
.AddlecMore a img {
    width: 30px;
    margin-top: -3px;
}
.BuylecMore {
    clear: both;
    background: #1a8ccc;
    height: 45px;
}
.BuylecMore a {
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 45px;
}
.lecSubject {
    clear: both;
    background: #4f4f4f;
    height: 50px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.lecSubject a {
    display: block;
}
.Fixbtn {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.Fixbtn ul li {
    float:left;
    height: 45px;
}
.Fixbtn ul li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
}
.Fixbtn.one ul li {
    width: 100%;
}
.Fixbtn.two ul li {
    width: 50%;
}
.Fixbtn.three ul li {
    width: 33.33333333%;
}
.resetBtn {
    position: absolute;
    float: right;
    text-align: right;
}


/* 무한 PASS존 */
/* 무한 PASS존 : Tabs : lecListTabs */
.lecListTabs {
    padding: 0;
}
.lecListWrap {
    margin: 20px 20px 0;
}
.lecListWrap li a {
    color: #999;
}
.lecListWrap li a.on {
    color: #000;
}
.lecListWrap li a.on span {
    color: #1a8ccc;
}
.lecListBox .lecTxt {
    float: left;
    font-size: 12px;
    color: #999;
    padding: 20px 30px;
}

/* 무한 PASS존 자세히 보기 : Tabs : passProfTabs */
.passProfTabs tr td {
    border-bottom: none;
}
.passProfTabs .w-prof {
    float: left;
    width: 35%;
    max-width: 85px;
    margin-bottom: 10px;
}
.passProfTabs .w-prof img {
    width: 100%;
}
.passProfTabs .w-prof .cover {
    position: absolute;
    top: 0;
    left: 0;
}
.passProfTabs .w-data {
    float: left;
    width: 65%;
}
.passProfTabs .w-info {
    clear: both;
    padding-top: 10px;
    margin-top: 5px;
}
.passTabs {
    padding: 0;
}
.passTabs .passWrap {
    margin: 20px;
}
.passWrap li.ready {
    display: block;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    color: #000;
    text-align: center;
    letter-spacing: 0;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

/* 무한 PASS존 자세히 보기 : Tabs : buylecTable */
.buylecTable tr td.w-chk {
    vertical-align: top;
}
.buylecTable tr td.w-chk input[type="checkbox"] {
    margin-top: 5px;
}

/* 무한 PASS존 자세히 보기 : Tabs : passListTabs */
.passListTabs {
    width: 100%;
    padding: 0 20px;
}
.passListTabs tr.finish {
    background: #f1f8fe;
}
.passListTabs thead tr td {
    padding-top: 20px;
    padding-bottom: 10px;  
}
.passListTabs thead tr td.w-chk input[type="checkbox"] {
    float: left;
    margin-top: 0;
}
.passListTabs thead tr td label {
    font-size: 15px;
    line-height: 19px;
    margin-left: 5px;
}
.passListTabs tr td:first-child {
    padding-left: 0;
}
.passListTabs tr td:last-child {
    padding-right: 0;
}
.passListTabs tr td.w-chk {
    vertical-align: top;
}
.passListTabs tr td.w-chk input[type="checkbox"] {
    margin-top: 0;
}
.passListTabs tr td .w-tit {
    font-size: 14px;    
}
.passListTabs tr td .w-info {
    font-size: 14px;
}
.passListTabs tbody tr:last-child td {
    border-bottom: none;
}
.passListTabs .w-free li {
    float: left;
    width: 23%;
    height: 34px;
}
.passListTabs .w-free li:last-child {
    width: 31%
}
.passListTabs .w-free li a {
    display: block; 
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
}
.passListTabs .w-free li.w-data a {
    font-size: 12px;
    line-height: 45px;
    text-align: right;
}

/* 무한 PASS 강좌추가 */
.willbes-Lec-Search {
    position: relative;
    float: left;
    font-size: 14px;
}
.willbes-Lec-Search .inputBox {
    float: left;
}
.willbes-Lec-Search input[type="text"] {
    height: 40px;
}
.willbes-Lec-Search button.search-Btn {
    background: url("../../../img/willbes/m/main/icon_search_btn.png") no-repeat 0 0;
    background-size: 100%;
    width: 51px;
    height: 38px;
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
}
.willbes-Lec-Search .resetBtn {
    top: 0;
    right: 0;
    width: 37px;
    height: 40px;
}
.willbes-Lec-Search .resetBtn a {
    display: block;
    border: 1px solid #d4d4d4
}
.willbes-Lec-Search .resetBtn a img {
    width: 100%;
}

/* 등록기기 정보 */
.willbes-User-Tablet {
    float: left;
    width: 100%;
    padding: 20px;  
}
.willbes-User-Tablet dl {
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
}
.willbes-User-Tablet dl dt {
    display: inline-block;
    font-size: 14px;
}
.willbes-User-Tablet dl dt .row-line {
    background: #b5b5b5;
    width: 1px;
    height: 10px;
    margin: 0 5px;
}
.willbes-User-Tablet ul li {
    float: left;
    width: 25%;
    height: 36px;
    font-size: 13px;
    text-align: center;
    line-height: 34px;
    border-top: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.willbes-User-Tablet ul li:first-child {
    border-left: 1px solid #d4d4d4;
}
.willbes-User-Tablet ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.willbes-User-Tablet ul li a.on,
.willbes-User-Tablet ul li a:hover,
.willbes-User-Tablet ul li a:active {
    background: #1a8ccc;
    color: #fff;
}
.tabletTabs table tr td .w-info {
    line-height: 30px;
}
.tabletTabs table tr td .w-info.tx-gray {
    font-size: 13px;
}

/* 수강중강좌 : 패키지강좌 */
.willbes-Open-Table .openTable {
    display: none;
}
.willbes-Open-Table .MoreBtn {
    width: 50%;
    height: 34px;
}
.willbes-Open-Table .MoreBtn a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #9a9a9a;
}
.willbes-Open-Table .MoreBtn a img {
    width: 34px;
}

/* 시작일변경 */
.daysListTabs table tr td {
    padding-right: 0 !important;
}
.daysListTabs table tr td.w-num {
    font-size: 14px;
    text-align: center;
    padding-left: 0;
}
.daysListTabs table tr td .w-info {
    line-height: 30px;
}
.calendarPickerBtn a {
    display: block;
}

/* 자주하는 질문 */
.replyList.willbes-Open-Table {
    cursor: pointer;
}
.replyList.willbes-Open-Table .MoreBtn {
    background: url("../../../img/willbes/m/mypage/icon_arrow_on.png") no-repeat center center;
    background-size: 34px;
    width: 40px;
    height: 40px;   
    padding-right: 0;
    text-indent: -9999px;
} 
.replyList.willbes-Open-Table.hover .MoreBtn {
    background: url("../../../img/willbes/m/mypage/icon_arrow_off.png") no-repeat center center;
    background-size: 34px;
} 
.willbes-Open-List {
    display: none;
}

/* 동영상 상담실 */
.filetype {
    clear: both;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.filetype .file-text {
    background: #fff;
    float: left;
    position: relative;
    width: 67%;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    line-height: 40px;
    z-index: 3;
    padding: 0;
}
.filetype .file-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.filetype .file-select .input-file {
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
}
.filetype .file-reset {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    display: inline-block;
    z-index: 10;
    background: #000;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
}
.filetype .file-btn {
    display: inline-block;
    background: #4f4f4f;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/* Paging */
.Paging {
    text-align: center;
    margin: 25px 0;
}
.Paging ul li {
    display: inline-block;
    margin: 0 7px;
    line-height: 18px;
}
.Paging ul li a {
    font-size: 12px;
    color: #323232;
}
.Paging ul li a.on {
    font-size: 15px;
    font-weight: 600;
    color: #1a8ccc;
    text-decoration: underline;
}
.Paging ul li .row-line {
    background: #ddd;
    width: 1px;
    height: 9px;
    margin: -3px 0 0 10px;
}

/* willbes-Layer-PassBox */
.willbes-Layer-Black {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}
.willbes-Layer-PassBox {
    float: left;
    width: 90%;
    background: #fff;
    padding: 20px 25px;
    margin: 0 5%;
    z-index: 105;
}
.willbes-Layer-PassBox .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
}
.willbes-Layer-Black .AddlecMore {
    margin: 20px 0;
}
.willbes-Layer-PassBox600 {
    max-width: 600px;
}
.willbes-Layer-PassBox.fix {
    position: fixed;
    display: block;
    top: 50%;
}
.willbes-Layer-PassBox600.h470.fix {
    margin-top: -235px;
}

/* calendarTable */
.calendarTable {
    font-family: "Arial", "sans-serif";
    width: 100%;
}
.calendarTable .table-condensed tr th,
.calendarTable .table-condensed tr td {
    font-size: 3vw;
}
.calendarTable .table-condensed tr.month th {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0 20px;
}
.calendarTable .table-condensed tr.month th span.Btn {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: 0 10px;
}
.calendarTable .table-condensed thead tr.week th {
    background: #1a8ccc;
    height: 36px;
    color: #fff;
    text-align: center;
}
.calendarTable .table-condensed tbody tr td {
    position: relative;
    height: 50px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}
.calendarTable .table-condensed tbody tr td .num {
    position: relative;
    z-index: 10;
}
.calendarTable .table-condensed tr td.start:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: inline-block;
    background: #e9e9e9;
    width: 0; 
    height: 49px; 
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 10px solid #333;
}
.calendarTable .table-condensed tr td.end:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: inline-block;
    background: #e9e9e9;
    width: 0; 
    height: 49px; 
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent; 
    border-right: 10px solid #333;
}
.calendarTable .table-condensed tr td.start {
    background: #333;
    color: #fff;
}
.calendarTable .table-condensed tr td.ing {
    background: #e9e9e9;
}
.calendarTable .table-condensed tr td.end {
    background: #333;
    color: #fff;
}

.loading {background:#1a8ccb; height:100%; position:relative}
.loadingImg {position:absolute; left:50%; top:50%; margin-left:-50%; width:100%; margin-top:-120px; text-align:center}
.loadingImg div {text-align:center; color:#fff; font-size:130%; margin-top:20px; line-height: 1.5;}

/**/
.board_type{border:0 !important}
.board_type{
    width: 100% !important;
    color: #666 !important;
    border-top: solid 2px #000 !important;
    border-left: solid 1px #d7d7d7 !important;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    text-align: left;
} 
.board_type caption {display:none}
.board_type th{ 
    padding:7px 0 !important;   
    border-bottom:solid 1px #000 !important;
    border-right:solid 1px #ccc !important;
    background:#faf9fb !important;
    color:#333 !important;
    font-weight:bold !important;
    line-height:18px !important;
    vertical-align:middle !important;
    font-size:12px !important;
    text-align:center !important;
}
.board_type td {padding:5px !important;border-bottom:solid 1px #d7d7d7 !important; text-align:center !important; border-right:solid 1px #d7d7d7 !important; vertical-align:middle !important}
.board_type td.td1 {text-align:left !important}
.board_type td.td2 {    
    font-weight: bold !important;
    text-align: left;
}
.board_type td.td3 {font-size:120% !important; font-weight:bold !important; text-align:left !important}
.board_type td.tdleft {text-align:left !important}
.board_type p {line-height:120%}
.board_type ul {margin:0; padding:0}
.board_type ul li {list-style-type:none}
.board_ul {margin:0 0 0 10px; padding:0 0 0 20px}
.board_ul li {list-style-type:disc}

.board_type a { display:block; padding:5px !important; border-radius:5px; text-decoration:none; background-color:#ff434a; color:#fff !important; font-weight:bold}
.board_type a.cooming {background-color:#666 !important}
.board_type a.freeLec {background-color:#06F !important}
.board_type a:hover { background-color:#000 !important}

/*********************************************     MYPAGE     *********************************************/

/*--합격예측*/
.predictWrap {line-height: 1.5; position: relative;}
.predictWrap select {
    height: 2rem;
    background: none;
    padding: 0 0 0 0.6rem;
}
.predictWrap input:checked + label {color:#1087ef; border-bottom:1px dashed #1087ef !important}
.predictWrap input[type="text"] {height: 2rem;}
.predictWrap .willbes-Tit {background: #1f6877; color:#fff; border:0}
.predictWrap .willbes-Tit span {color:#f6cc20}
.predictWrap .predictMain { background:#122d38; text-align: center; padding-bottom:50px}
.predictWrap .predictMain .mainImg img {width:100%; max-width:720px;} 
.predictWrap .predictMain .mainBtn a { 
    display:block; width: 80%; margin:0 auto; padding:1em 0;
    text-align: center; background: #000; color:#fff; border-radius: 10px;
    font-size:18px; font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.predictWrap .predictMain .mainBtn a.btn2 {
    background:#bf1212; 
    animation:upDown 2s infinite;-webkit-animation:upDown 2s infinite;
}
	@keyframes upDown{
	from{background:#1f6877}
	50%{background:#4ba8bb}
	to{background:#1f6877}
	}
	@-webkit-keyframes upDown{
	from{background:#1f6877}
	50%{background:#4ba8bb}
	to{background:#1f6877}
    }   

.predictWrap .predictMain .sort {margin-top:30px}
.predictWrap .predictMain .sort div {
    display: inline-block; width: 100px; height: 100px; line-height: 100px; vertical-align: middle;
    border:3px solid #1f6877; border-radius: 50px; background: #fff; color:#1f6877;
    font-size:16px; margin-right:10px;
}
.predictWrap .predictMain .sort div:last-child {margin:0}
.predictWrap .predictMain .sort div span {display:block; line-height: 1.4; margin-top:25px;}

.tg-note .tg-tit {background:#1a8ccc; cursor:pointer; padding-left:10px; color:#fff; font-size:14px}
.tg-note .tg-cont {background:#ddeff9; padding:1em}
.tg-note .tg-cont li {line-height:1.4; list-style:disc; margin-left:10px}
.marktxt1 {color:#fff; margin-top:2em; padding:0 10%}
.marktxt2 {text-align:center; padding:1em}

.markTab {margin-top:10px; /*border-bottom:1px solid #333*/}
.markTab li {display:inline; float:left; width:50%}
.markTab a {display:block; padding:1em 0; background:#999; color:#fff; margin-right:1px; font-weight:bold; letter-spacing:2px; text-align:center}
.markTab a.active {background:#333}
.markTab li:last-child a {margin-right:0}
.markTab:after {content:""; display:block; clear:both}

.markTab2 li {width:20%}
.markTab2:after {content:""; display:block; clear:both}

.marking {margin:10px; padding:10px; border:1px dashed #e4e4e4}
.marking h5 {font-size:14px; margin-bottom:10px}
.marking li {display:inline; float:left; width:25%;}
.marking li div {margin-right:4px;  padding:3px; background:#666; text-align:center}
.marking li div label {color:#fff; padding-bottom:5px; display: block}
.marking li div input {width:100%; padding:5px 0; margin:0 auto; text-align:center; letter-spacing:4px}
.marking li:last-child div {margin-right:0}
.marking ul:after {content:""; display:block; clear:both}

.marking2 li {width:50%; position: relative;}
.marking2 li span {position: absolute; right:20px; top:30px}
.marking3 li {width:33.33333%;}


.markSbtn1 {width:100%; margin:1.5em auto; text-align:center;}
.markSbtn1 a {display:inline-block; padding:0.5em 1em; background:#1087ef; color:#fff; font-weight:bold; border-radius:5px; border:1px solid #1087ef; margin:0 5px}
.markSbtn1 a.btn2 {background:#bf1212; border:1px solid #bf1212}
.markSbtn1 a.btn3 {background:#fff; border:1px solid #333; color:#333}

.markMbtn2 {width:100%; margin:2em auto; text-align:center; background:url(https://static.willbes.net/public/images/promotion/2019/04/1187M_arrow.png) no-repeat center center; background-size:15px}
.markMbtn2 a {display:inline-block; padding:0.8em 0; text-align:center; width:38%; background:#1087ef; color:#fff; font-size:120%; font-weight:bold; border-radius:10px; box-shadow: 0 3px 3px rgba(0,0,0,.2); border:2px solid #1087ef; margin:0 15px}
.markMbtn2 a.btn2 {background:#fff; color:#1087ef}

.markingTit1 {margin-left:10px; border-left:2px solid #1087ef; padding-left:10px; font-size:120%}

.table_type {width:100%; margin:1em auto; border-top:#464646 1px solid; border-bottom:#464646 1px solid; border-left:#cdcdcd 1px solid}
.table_type caption {display:none}	
.table_type th,
.table_type td {letter-spacing:normal; text-align:center; padding:10px 8px}
.table_type th {color:#464646; background:#f3f3f3; font-weight:400; border-bottom:#cdcdcd 1px solid; border-right:#cdcdcd 1px solid}
.table_type th.th2 {background:#fffcd1}
.table_type td {border-bottom:#cdcdcd 1px solid; border-right:#cdcdcd 1px solid; vertical-align:middle; color:#464646; text-align:left}
.table_type td input {vertical-align:middle}
.table_type td span.blueB {font-weight:bold; color:#33F}
.table_type td span.redB {font-weight:bold; color:#C00}
.table_type td label {margin-right:10px}
.table_type .lineNo {border-right:none}
ul.sel_info li { display: inline-block; margin-right:10px; margin-bottom:5px}

.table_type2 td,
.table_type3 td {text-align:center}
.table_type2 td a {display:block; padding:0.5em 0; font-weight:bold; border-radius:5px; background:#fff; border:1px solid #333; color:#333}
.table_type3 td:nth-child(2),
.table_type3 td:nth-child(6) {color: #C00}
.markingPoint {height:30px; line-height:30px; width:200px; margin:0 auto; border:1px solid #333; box-sizing:content-box}
.markingPoint span {display:inline-block; background:#c00; color:#fff; padding:0 10px; width:50%; text-align: center; margin-right:10px}

.willbes-Layer-marking {
    position: absolute;
    bottom:0;
    left:0;
    display: none;
    float: left;
    width: 98%;
    background: #fff;
    padding: 10px 10px 20px;
    border:1px solid #000;
    margin: 1%;
    z-index: 105;
}
.willbes-Layer-marking .Layer-Tit {font-size:16px}
.willbes-Layer-marking .closeBtn {
    position: absolute;
    top: -1px;
    right: -1px;
}

/*합격예측--*/


/* iPhone 5/SE */
@media only screen and (min-width: 320px) and (max-width: 374px) {
    .width25p {
        width: 22%;
    }
    .width45p {
        width: 40%;
    }
    .width88p {
        width: 86%;
    }
    .width90p {
        width: 89%;
    }
    .filetype .file-text {
        width: 62%;
    }
    .willbes-Lec-Selected .chkBox {
        right: 5%;
    }
    #Footer .ft-Link ul li {
        margin: 0 1%;
    }
}


/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) and (max-width: 640px) {
    .width25p {
        width: 24%;
    }
    .width45p {
        width: 44%;
    }
    .filetype .file-text {
        width: 64%;
    }
}

/* Calendar */
@media only screen and (min-width: 690px) {
    .willbes-Layer-PassBox600 {
        left: 50%;
        margin-left: -300px;
    }
    .calendarTable .table-condensed tr th,
    .calendarTable .table-condensed tr td {
        font-size: 16px;
    }
}
