# Add any directories, files, or patterns you don't want to be tracked by version control

.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

#composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#/vendor/

#-------------------------
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

#-------------------------
# User Config
#-------------------------
.svn
.svn/*
.editorconfig
contributing.md
license.txt
#README.md
readme.rst
/_bak/*
#/_erd/*
/storage/cache/*
/storage/cache/memcached
!/storage/cache/index.html
!/storage/cache/views/index.html
/storage/logs/*
!/storage/logs/index.html
!/storage/logs/cron/index.html
!/storage/logs/pg/inisis/index.html
!/storage/logs/pg/inisis_mobile/index.html
/storage/sessions/*
!/storage/sessions/index.html
/storage/uploads
/storage/cli/*
!/storage/cli/index.html
!/storage/cli/task/index.html
/public/uploads
/application/config/database.php
/application/config/memcached.php
/_erd/.metadata/*
