/* body */
body {
    background: #fff;
    word-break: keep-all;
    font-family: "Dotum", "돋움", "Gulim", "굴림", "Arial", sans-serif;
}
body.single {
    background: #fff;
}
body.no_sidebar {
    background: #fff;
}

/* loginForm */
.login_header {
    font-family: "Nanum Gothic", "나눔고딕", "Arial", sans-serif;
    font-weight: 600;
}
.login_header .nav-tabs {
    background: none !important;
    border-bottom: 0;
    margin-top: 22px;
    margin-bottom: 0;
    padding-left: 0;
    height: 23px;
    font-family: "Arial",sans-serif;
}
.login_header .nav-tabs li.active a:hover {
    line-height: 38px;
}
.login_header .nav_txt {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    height: 45px;
    padding-right: 10px;
}
.login_header .nav_txt .valign-middle {
    padding: 16px 0;
}
.login_header ul.bar_tabs > li {
    border: none !important;
    border-radius: 10px 10px 0 0;
    min-width: 200px;
    height: 40px;
}
.login_header ul.bar_tabs > li a {
    background: none !important;
    border: 0;
    padding: 0 !important;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
.login_header ul.bar_tabs > li a:hover {
    background: none !important;
}
.login_header ul.bar_tabs > li.active a {
    padding: 0 !important;
    border: none;
}
.login_header div {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    color: #fff;
}
.login_header div a {
    color: #fff;
}
.login_header .logo {
    padding-bottom: 10px;
    text-align: left;
}
.login_header .logo span {
    display: inline-block;
    padding-top: 3px;
    color: #fff !important;
}
.login_header .col-md-5 {
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -204px;
}
.login_header .col-md-5 ul li:first-child {
    margin-left: 0;
}

.login_section {
    clear: both;
}
.login_content {
    width: 630px;
    text-shadow: none;
    padding: 0;
}
.login_content form {
    margin: 0
}
.login_content h1:after,
.login_content h1:before {
    display: none;
}
.login_content h1 {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    margin: 0;
    padding-top: 50px;
}
.login_content h1 span {
    font-weight: 600;
}
.login_content h2 {
    margin: 10px 0 60px;
}

.loginform {
    border-top: 3px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
    padding: 60px 0;
}
.loginbox {
    width: 370px;
    margin: 0 auto;
    font-family: "Arial", sans-serif, "Malgun Gothic", "맑은 고딕" ;
}
.login_content .loginbox:before,
.login_content .loginbox:after {
    content: "";
    display: block;
    clear: both;
}
.login_content .loginbox .item {
    float: left;
}
.login_content .loginbox .item input {
    background: #f5f5f5;
    width: 205px;
    height: 37px;
    border: 1px solid #d4d4d4;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    letter-spacing: 1px;
    margin-bottom: 14px;
    font-size: 17px;
    color: #707070;
}
.login_content .loginbox .checkbox {
    clear: both;
    font-size: 14px;
    text-align: left;
    line-height: 14px;
    margin-bottom: 0;
}
.login_content .loginbox .checkbox label {
    padding-left: 0;
    height: 14px;
    min-height: 14px;
    color: #707070;
}
/*.login_content .icheckbox_flat-blue,
.login_content .iradio_flat-blue {
    background: url("../../vendor/iCheck/skins/flat/flat.png") no-repeat;
    width: 15px;
    height: 15px;
    background-size: 118px;
}
.login_content .loginbox .checkbox .icheckbox_flat-blue {
    float: left;
    margin-right: 5px;
}*/
.login_content .loginbox button#btn_login {
    float: right;
    width: 146px;
    height: 88px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 0;
    margin: 0;
}
.logininfo {
    font-family: "Malgun Gothic", "맑은 고딕", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #7d7d7d;
    text-align: left;
    margin-top: 90px;
}
.logininfo button#btn_regist {
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    padding: 0 3px;
    margin: -5px 0 0 0;
}

/* LMS */
.lms .login_header {
    background: #4a84d5;
}
.lms .login_header .nav-tabs li {
    background: #8cb1e5;
}
.lms .login_header .nav-tabs li.active {
    background: #fff;
}
.lms .login_header ul.bar_tabs > li.active a {
    color: #4885d5;
}
.lms .color {
    color: #4a84d5;
}
.lms .bg {
    background: #4a84d5;
}
.lms .logininfo button#btn_regist {
    border: 1px solid #2963b1;
}
.lms .login_content .loginbox .item input:focus {
    border: 1px solid #4a84d5;
}

/* WBS */
.wbs .login_header {
    background: #6eb442;
}
.wbs .login_header .nav-tabs li {
    background: #a1cf86;
}
.wbs .login_header .nav-tabs li.active {
    background: #fff;
}
.wbs .login_header ul.bar_tabs > li.active a {
    color: #6eb442;
}
.wbs .color {
    color: #6eb442;
}
.wbs .bg {
    background: #6eb442;
}
.wbs .logininfo button#btn_regist {
    border: 1px solid #56992c;
}
.wbs .login_content .loginbox .item input:focus {
    border: 1px solid #6eb442;
}

/* container */
.container {
    background: #2A3F54;
    min-width: 1280px;
}

/* title */
.x_title h2 {
    float: inherit;
    line-height: 26px;
}
.x_title .pull-right {
    margin-top: -15px;
}

/* txt */
.x_txt {
    padding: 0 10px 6px;
    margin-bottom: 10px;
}

/* top_col */
.top_col, .top_col .nav-tabs {
    background: #fff !important;
    margin-bottom: 1px;
}

/* main_top_header */
.top_col .main_top_header {
    font-family: "Nanum Gothic", "나눔고딕", "Arial", sans-serif;
    font-weight: 600;
}
.top_col .main_top_header .nav-tabs {
    background: none !important;
    border-bottom: 0;
    margin-top: 22px;
    margin-bottom: 0;
    padding-left: 0;
    height: 23px;
    font-family: "Arial",sans-serif;
}
.top_col .main_top_header .nav-tabs li.active a:hover {
    line-height: 38px;
}
.top_col .main_top_header .nav_login {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    height: 45px;
    padding-right: 10px;
}
.top_col .main_top_header .nav_login .pull-right {
    padding: 2px 0;
}
.top_col .main_top_header ul.bar_tabs > li {
    border: none !important;
    border-radius: 10px 10px 0 0;
    min-width: 200px;
    height: 40px;
}
.top_col .main_top_header ul.bar_tabs > li a {
    background: none !important;
    border: 0;
    padding: 0 !important;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
.top_col .main_top_header div {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    color: #fff;
}
.top_col .main_top_header div a {
    color: #fff;
}
.top_col .main_top_header div a span {
    color: #ffee00 !important;
}
.top_col .main_top_header .logo {
    padding-bottom: 10px;
}
.top_col .main_top_header .logo span {
    display: inline-block;
    padding-top: 3px;
    color: #fff !important;
}
.top_col .main_top_header .col-md-5 {
    width: auto;
    position: absolute;
    left: 50%;
    margin-left: -204px;
}
.top_col .main_top_header .col-md-5 ul li:first-child {
    margin-left: 0;
}
.top_col .main_top_header .nav.nav-pills li a .dark-blue {
    color: #fff !important;
}

/* LMS */
.main_top_header.lms {
    background: #4a84d5;
}
.main_top_header.lms .nav-tabs li {
    background: #8cb1e5;
}
.main_top_header.lms .nav-tabs li.active {
    background: #fff;
}
.main_top_header.lms ul.bar_tabs > li.active a {
    color: #4885d5;
}
.main_top_header.lms .nav_login .pull-left a button.btn-success {
    background: #fff;
    font-weight: 600;
    color: #4885d5;
    border: none;
    border-radius: 3px;
    margin: 3px 0 !important; 
    padding: 3px 7px;
}

/* WBS */
.main_top_header.wbs {
    background: #6eb442;
}
.main_top_header.wbs .nav-tabs li {
    background: #a1cf86;
}
.main_top_header.wbs .nav-tabs li.active {
    background: #fff;
}
.main_top_header.wbs ul.bar_tabs > li.active a {
    color: #6eb442;
}
.main_top_header.wbs .nav_login .pull-left a button.btn-success {
    background: #fff;
    font-weight: 600;
    color: #6eb442;
    border: none;
    border-radius: 3px;
    margin: 4px !important; 
}

/* main_top_middle */
.top_col .main_top_middle {
    border-bottom: 1px solid #e6e9ed;
}

/* main_top_menu */
.top_col .main_top_menu div {
    padding-left: 0;
    padding-right: 0;
}
.top_col .main_top_menu .nav-tabs li {
    min-width: 62px;
    margin-left: 2px;
}
.top_col .main_top_menu .navbar-nav .open .dropdown-menu {
    right: auto !important;
}
.top_col .main_top_menu .navbar-nav > .active > a,
.top_col .main_top_menu .navbar-nav .open > a {
    background: none;
    text-decoration: underline;
}
.top_col .main_top_menu .nav-tabs ul.dropdown-menu a.current {
    background: #e5e9ef !important;   
}

/* dropdown-menu */
.top_col .nav-tabs li.dropdown .dropdown-menu {
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 0;
}
.top_col .nav-tabs li.dropdown .dropdown-menu .dropdown-submenu .dropdown-menu {
    margin-top: -4px;
    margin-left: 0;
}
.top_col .nav-tabs li.dropdown .dropdown-menu .dropdown-submenu .dropdown-menu.right-menu {
    left: -100% !important;
    margin-left: -2px;
}
.top_col .nav-tabs li.dropdown .dropdown-menu li {
    margin-left: 0;
}

/* top_nav_fixed */
.top_nav_fixed .top_col {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
    min-width: 1280px;
}
.top_nav_fixed .left_col {
    position: relative;
    top: 56px;  /*top: 63px;*/
    z-index: 998 !important;
}
.top_nav_fixed .right_col {
    position: relative;
    top: 13px;
}
.top_nav_fixed.nav-sm footer {
    z-index: 997;
}

/* sidebar */
.navbar.nav_title {
    background: #367fa9;
}
.site_title {
    font-size: 20px;
    padding-left: 16px;
}
.site_title i {
    border: 0;
    cursor: pointer;
}
.nav-md .container.body .col-md-3.left_col.menu_fixed {
    position: sticky;
    margin-top: -63px;
}
.nav.side-menu>li:first-child {
    margin-top: 65px;   /*margin-top: 75px;*/
}
.menu_section>ul {
    margin-top: 0;
}

/* right_col */
.page-title {
    height: auto;   /*height: 46px;*/
    padding: 0;
}
.page-title i {
    margin: 0 3px;
}

/* footer fixed */
footer {
    padding: 10px 20px 25px;
}
.footer_fixed footer {
    position: sticky;
    z-index: 11;
}
.footer_fixed .sidebar-footer {
    padding-top: 15px;
}

/* bar_tabs */
ul.bar_tabs > li {
    border-radius: 0;
}
ul.bar_tabs > li a {
    background: #fff !important;
    border-radius: 0;
}
ul.bar_tabs > li.dropdown > a {
    padding: 10px 10px 10px 15px;
    z-index: 9997;
    height: 40px;
}
ul.bar_tabs > li.dropdown:hover > a {
    position: relative;
    height: 41px;
    z-index: 9999;
    transition: all 0.1s ease-in;
}
ul.bar_tabs > li a:hover {
    background: #f5f7fa !important;
}
ul.bar_tabs > li a:focus {
    border-color: transparent !important;
}
ul.bar_tabs > li.active {
    border-top: 1px solid #e6e9ed;
    margin-top: -17px;
    border-right: 1px solid #E6E9ED;
}
ul.bar_tabs > li.active a {
    padding-top : 11px !important;
    padding-bottom : 11px !important;
}
ul.bar_tabs > li.active a, ul.bar_tabs > li.active a:focus,
ul.bar_tabs > li.active a:hover {
    border: 1px solid transparent;
    border-bottom: 0;
    border-top-right-radius: 0;
}

#tabs_site_code {
    margin-bottom: -1px;
    height: 16px;
}

#tabs_site_code > li {
    margin-left: 1px;
    font-size: 12px;
}
#tabs_site_code > li:first-child {
    margin-left: 0;
}
#tabs_site_code > li a {
    padding: 6px 10px;    
}
#tabs_site_code > li.active a {
    padding-top: 6px !important;
    padding-bottom: 8px !important;
}

/* dropdown */
.dropdown-menu li a {
    background: #fff !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 17px;
}
.dropdown-menu li a:hover {
    border: none !important;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 3px;
    left: 100% !important;
    margin-top: 0;
    margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

/* panel */
.panel_toolbox {
    min-width: 47px;
}
.x_content ul.pagination {
    margin: 2px 0;
}

/* modal */
body.modal-open {
    padding-right: 0 !important;
}

#pop_modal .modal-body {
    overflow-y: scroll;
    height: 750px;
}

#pop_modal .modal-content {
    border-radius: 0 0 6px 6px; 
    padding-bottom:60px   
}
#pop_modal .modal-footer {    
    position: absolute;
    bottom:0;
    background:#fff;
    width: 100%;
    border-top: 1px solid #ddd;
    z-index: 10;    
}

/* datatable */
.dataTables_filter {
    float: left;
}
.dataTables_processing {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background: #3498db;
}
.dt-buttons.btn-group .border-radius-reset {
    border-radius: 3px !important;
}
.dataTables_info {
    width: 30% !important;
}
.dataTables_paginate {
    width: 70% !important;
}

/* bootstrap3 alert */
.alert {
    color: #fff !important;
}

/* button */
.btn-search {
    width: 10%;
    min-width: 70px;
}
.btn[class*='bg-']:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}
.btn,
.input-group-addon,
.btn-group > .btn-set-search-date {
    font-size: 12px;
    border-radius: 0;
    padding: 5px 9px 4px;
}

button.btn-default,
button.btn-primary,
button.btn-success,
button.btn-info,
button.btn-warning,
button.btn-danger {
    font-size: 12px;
    padding: 0 9px;
}

.text-right button.btn-default,
.text-right button.btn-primary,
.text-right button.btn-success,
.text-right button.btn-info,
.text-right button.btn-warning,
.text-right button.btn-danger,
button#act-excelDown {
    font-size: 12px;
    padding: 2px 9px;
}

.text-center button.btn-default,
.text-center button.btn-primary,
.text-center button.btn-success,
.text-center button.btn-info,
.text-center button.btn-warning,
.text-center button.btn-danger {
    font-size: 12px;
    padding: 3px 11px;
}

.modal-footer button.btn-default,
.modal-footer button.btn-primary,
.modal-footer button.btn-success,
.modal-footer button.btn-info,
.modal-footer button.btn-warning,
.modal-footer button.btn-danger {
    font-size: 12px;
    padding: 3px 11px;
}

.form-inline button.btn-default,
.form-inline button.btn-primary,
.form-inline button.btn-success,
.form-inline button.btn-info,
.form-inline button.btn-warning,
.form-inline button.btn-danger,
.form-inline button.btn-auto-login {
    font-size: 12px;
    padding: 4px 7px;
}

th button.btn-default,
th button.btn-primary,
th button.btn-success,
th button.btn-info,
th button.btn-warning,
th button.btn-danger {
    padding: 0 9px !important;
}

button.btn-default.btn-search,
button.btn-primary.btn-search,
button.btn-success.btn-search,
button.btn-info.btn-search,
button.btn-warning.btn-search,
button.btn-danger.btn-search,
button.btn-info {
    width: auto;
    min-width: 1px;
    padding: 3px 11px 2px;
}

.text-right.form-inline button.btn-primary.btn-search i {
    margin: 0;
}

button.btn-primary.btn-search i,
.text-right button.btn-primary.btn-search i,
.text-right button.btn-primary.btn-search.ml-10 i {
    font-family:monospace;
    width: 0px;
    margin: -5px;
    opacity: 0;
    animation: none;
}


.btn.active,
.btn:active {
    box-shadow: none;
}
.dt-buttons.btn-group .border-radius-reset {
    border-radius: 0 !important;
}
.btn-group-sm > .btn,
button.btn-sm {
    padding: 2px 7px;
}
.pull-right .btn-sm.mr-15 {
    margin-right: 3px !important;
}

/* background */
.bg-blue,
.bg-dark-blue,
.bg-purple,
.bg-green,
.bg-aero,
.bg-red,
.bg-orange,
.bg-blue-sky,
.bg-dark {
    color: #fff !important;
}
.bg-dark-blue {
    background: #367fa9 !important;
    border: 1px solid #367fa9 !important;
}
.bg-aero {
    background: #9cc2cb !important;
    border: 1px solid #9cc2cb !important;
}
.bg-dark {
    background: #34495e !important;
    border: 1px solid #34495e !important;
}
.bg-info {
    background-color: #d9edf7 !important;
}
.no-bgcolor {
    background: transparent;
}
.bg-odd {
    background: #f9f9f9 !important;
}
.bg-white-gray {
    background: #eee !important;
}
.bg-danger {
    background-color: #f2dede !important;
}
.bg-gray-custom {
    background: #ababab !important;
}
.bg-white-only {
    background: #fff !important;
}

/* text color */
.gray {
    color: #73879c !important
}
.white {
    color: #fff !important;
}
.dark-blue {
    color: #367fa9 !important;
}
.orange {
    color: #f39c12 !important;
}
.blue-sky {
    color: #50c1cf !important;
}
.required {
    color: #e74c3c !important;
}

/* font */
.bold {
    font-weight: bold !important;
}

/* form */
.form-inline .btn.btn-sm {
    margin-bottom: -1px;
}
.bad input:focus,
.bad select:focus,
.bad textarea:focus {
    border: 1px solid #CE5454;
    box-shadow: 0 0 4px -2px #CE5454;
    position: relative;
    left: 0;
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear
}
.form-horizontal .control-label {
    padding-top: 5px;
    text-align: left;
}
.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 34px;
}
.form-horizontal .checkbox.checkbox-sm, .form-horizontal .radio.radio-sm {
    min-height: 27px;
}
.form-group-bordered {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.form-horizontal .input-label {
    position: relative;
    top: 2px;
    padding-left: 2px;
    margin-right: 10px;
    line-height: 34px;
}
.form-horizontal .input-label:last-child {
    margin-right: 0;
}
.form-horizontal .form-group-sm .input-label {
    line-height: 26px;
}
.form-horizontal .form-group-sm {
    padding: 7px !important;
}

.form-table .table.table-bordered { border-left: 0; border-right: 0; margin-bottom: 10px; }
.form-table .table th, .form-table .table td {
    padding: 10px;
    vertical-align: middle;
    line-height: 1.5;
    height: 55px;
}
.form-table .table th { background-color: #f9f9f9; }
.form-table .table tr th:first-child, .form-table .table tr td:first-child { border-left: 0; }
.form-table .table tr th:last-child, .form-table .table tr td:last-child { border-right: 0; }
.form-table .table .form-control { height: 30px; padding: 5px 10px; border-radius: 3px; }
.form-table .table .flat-text  { position: relative; top: 2px; }
.form-table.form-table-sm .table th, .form-table.form-table-sm .table td { height: 40px; padding: 5px; }
.form-table.form-table-sm .table .form-control { height: 27px; padding: 3px 6px; }

.underline-link { text-decoration-line: underline; cursor: pointer; }
.link-cursor { cursor: pointer; }

.page-title .title_left { width: 60%; }
.page-title .title_left h4 {
    font-size: 12px;
    background: url("../../img/dot_cir.png") no-repeat 0 center;
    padding-left: 12px;
}
.page-title .title_left h4 span.blue {text-decoration: underline;}
.page-title .title_left h4.page-title .title_right { width: 40%; }
.page-title .title_right { width: 40%; }

.row h5 {font-size: 13px;}

/* 테이블 head가 2줄인 경우 수정 */
.table.dataTable.table-head-row2 { border-collapse: collapse !important; }
.table.dataTable.table-head-row2 th, .table.dataTable.table-head-row2 td { vertical-align: middle; }
.table.dataTable.table-head-row2 th { line-height: 28px; }

.ln_solid {
    border-top : 0;
    margin: 20px 0 0 0;
}

/* form-group-sm */
.form-group-sm .form-control {
    border-radius: 0;
    height: 28px;
    padding: 2px;
    font-size: 12px;
}

/* table */
.table {
    background: #fff;
}

/* x_panel */
.x_panel.mt-10 {
    border: none;
    background: none;
    padding: 0;
}

/* select */
select.input-sm {
    height: 28px;
}

/* form-control */
.form-control {
    box-shadow: none;
    font-size: 12px;
    height: 28px;
    padding: 2px;
}

/* icheck flat blue */
/*.icheckbox_flat-blue,
.iradio_flat-blue {
    width: 15px;
    height: 15px;
    background-size: 118px;
}

.icheckbox_flat-blue {
    background-position: 0 0;
}
    .icheckbox_flat-blue.checked {
        background-position: -15px 0;
    }
    .icheckbox_flat-blue.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-blue.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-blue {
    background-position: -87px 0;
}
    .iradio_flat-blue.checked {
        background-position: -73px 0;
    }
    .iradio_flat-blue.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-blue.checked.disabled {
        background-position: -154px 0;
    }*/

/* display */
.inline-block {
    display: inline-block !important;
}

/* vertical-align */
.valign-middle {
    vertical-align: middle !important;
}

/* cursor */
.cs-pointer {
    cursor: pointer !important;
}

/* line-height */
.no-line-height {
    line-height: 0;
}

/* border */
.no-border {
    border: none;
}

/* float */
.pull-none {
    float : none !important;
}

/* border */
.border-default {
    border-color: #ddd !important;
}
.border-white {
    border-color: #fff !important;
}
.border-dark-blue {
    border-color: #367fa9 !important;
}
.border-orange {
    border-color: #f39c12 !important;
}
.border-blue-sky {
    border-color: #50c1cf !important;
}
.no-border {
    border: 0 !important;
}
.no-border-top {
    border-top-width: 0 !important;
}
.no-border-bottom {
    border-bottom-width: 0 !important;
}
.no-border-left {
    border-left-width: 0 !important;
}
.no-border-right {
    border-right-width: 0 !important;
}
.bdt-line {
    border-top: 1px solid #e6e9ed !important;
}
.bdb-line {
    border-bottom: 1px solid  #e6e9ed !important;
}
.bdr-line {
    border-right: 1px solid #ddd !important;
}
.bdl-line {
    border-left: 1px solid #ddd !important;
}

/* no-margin */
.no-margin {
    margin: 0 !important;
}

/* margin-top */
.mt-0 {
    margin-top: 0 !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-25 {
    margin-top: 25px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-70 {
    margin-top: 70px !important;
}

/* margin-bottom */
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}

/* margin-left */
.ml-0 {
    margin-left: 0 !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.ml-8-dot {
    margin-left: 8.33333333%;
}
.ml-10 {
    margin-left: 10px !important;
}
.ml-12-dot {
    margin-left: 12.33333333%;
}
.ml-15 {
    margin-left: 15px !important;
}
.ml-20 {
    margin-left: 20px !important;
}
.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

/* margin-right */
.mr-0 {
    margin-right: 0 !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mr-20 {
    margin-right: 20px !important;
}
.mr-30 {
    margin-right: 30px !important;
}
.mr-50 {
    margin-right: 50px !important;
}

.pd-zero {
    padding: 0 !important;
}
/* padding-top */
.pt-0 {
    padding-top: 0 !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-70 {
    padding-top: 70px !important;
}

/* padding-bottom */
.pb-0 {
    padding-bottom: 0 !important;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}

/* padding-left */
.pl-0 {
    padding-left: 0 !important;
}
.pl-5 {
    padding-left: 5px !important;
}
.pl-10 {
    padding-left: 10px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.pl-30 {
    padding-left: 30px !important;
}

/* padding-right */
.pr-0 {
    padding-right: 0 !important;
}
.pr-5 {
    padding-right: 5px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pr-30 {
    padding-right: 30px !important;
}

/* position */
.p_re {
    position: relative;
}
.p_ab {
    position: absolute;
}

/* col-md */
.col-md-1-1 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.col-md-1 {
    width: 8.33333333%;
}
.col-md-1-1 {
    width: 12.33333333%;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-5 {
    width: 41.666667%;
}
.col-md-6 {
    width: 50%;
}
.col-md-7 {
    width: 58.33333333%;
}
.col-md-8 {
    width: 66.66666667%;
}
.col-md-8-1 {
    width: 69.88888888%;
}
.col-md-9 {
    width: 75%;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-11 {
    width: 91.66666667%;
}
.col-md-12 {
    width: 100%;
}

/* cut-string */
.str-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* validation */
.item .alert {
    max-width: none !important;
}

/* debug */
.xdebug-var-dump {
    position: relative;
    z-index: 999999;
}
#codeigniter_profiler {
    position: absolute;
    z-index: 999999;
}

/* text align */
.tx-right {
    text-align: right !important;
}
.tx-left {
    text-align: left !important;
}
.tx-center {
    text-align: center !important;
}

/* clearfix */
.clearfix {
    float: left;
}
.clearfix-r {
    float: right;
}

/* form-horizontal RESET */
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
    padding-top: 0;
}
.form-horizontal .form-group {
    position: relative;
    border-bottom: 1px solid #e6e9ed;
    margin-bottom: 0;
    padding: 7px 0;
}
.form-horizontal .form-group select.mr-10 {
    margin-right: 0 !important;
} 
.form-horizontal .form-group.btn-wrap {
    border-bottom: none;
}
.form-horizontal .form-group .b-line {
    position: absolute;
    top: 0;
    left: 33.33333333%;
    padding-top: 17px;
    height: 100%;
    border-left: 2px solid #e6e9ed;
}
.form-horizontal .form-group .c-line {
    position: absolute;
    top: 0;
    left: 66.66666666%;
    padding-top: 17px;
    height: 100%;
    border-left: 2px solid #e6e9ed;
}
.form-horizontal .form-group .d-line {
    position: absolute;
    top: 0;
    left: 45.66666666%;
    padding-top: 17px;
    height: 100%;
    border-left: 2px solid #e6e9ed;
}

/* Table line */
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 0px;
}

/* item margin */
.form-horizontal .form-group .title:first-child {
    margin-top: 0;
}
.form-horizontal .form-group .title {
    margin-top: 5px;
}

/* checkbox*/
.form-horizontal .checkbox {
    line-height: 30px;
}
.form-horizontal .checkbox .red {
    height: 34px;
    line-height: 34px;
    float: right;
    margin-left: 5px;
}

/* day */
.form-horizontal .form-group .day {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

/* fileType */
.filetype {
    clear: both;
    position: relative;
    display: inline-block;
}
.filetype .file-text {
    background: #fff;
    width: 500px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    z-index: 10;
}
.filetype .file-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    overflow: hidden;
}
.filetype .file-select .input-file {
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
}
.filetype .file-btn {
    display: inline-block;
    height: 100%;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.filetype .file-reset {
    position: relative;
    float: right;
    z-index: 10;
}

/* modal seat */
#mem_seat_list tr th ul li {
    display: inline-block;
    line-height: 12px;
    margin-left: 10px;
}
#mem_seat_list tr th .color-box {
    display: inline-block;
    width: 40px;
    height: 12px;
    text-indent: -9999px;
    border: 1px solid #ccc;
}
#mem_seat_list.table>tbody>tr>td,
#mem_seat_list.table>tbody>tr>th,
#mem_seat_list.table>tfoot>tr>td,
#mem_seat_list.table>tfoot>tr>th,
#mem_seat_list.table>thead>tr>td,
#mem_seat_list.table>thead>tr>th {
    border-top: none;
}
#mem_seat_list tr td button {
    width: 100%;
    height: 100%;
}

/* modal seat : li.Ver */
.n_mem_seat_info {
    float: right;
    margin: 10px 0;
}
.n_mem_seat_info .color-box {
    display: inline-block;
    width: 40px;
    height: 12px;
    text-indent: -9999px;
    border: 1px solid #ccc;
}
.n_mem_seat_info li {
    float: left;
    list-style: none;
    line-height: 12px;
    margin-left: 10px;
}
.n_mem_seat {
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px;
}
.n_mem_seat li {
    float: left;
    list-style: none;
    padding: 3px;
}
.n_mem_seat li button {
    width: 96%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 4% !important;
}
.n_mem_seat table {
    float: left;
}
.n_mem_seat table tr td {
    margin: 0;
    padding: 0;
}
.n_mem_seat table button {
    width: 96%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 4% !important;
}
#n_mem_seat_list.table>tbody>tr>td,
#n_mem_seat_list.table>tbody>tr>th,
#n_mem_seat_list.table>tfoot>tr>td,
#n_mem_seat_list.table>tfoot>tr>th,
#n_mem_seat_list.table>thead>tr>td,
#n_mem_seat_list.table>thead>tr>th {
    border-top: none;
}

/* form-control-static */
.form-horizontal .form-group .form-control-static p {
    margin: 0;
}

/* loading Form */
div.dataTables_wrapper div.dataTables_processing {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000;
    opacity: 0.5;
    color: #fff;
    line-height: 33em;
    font-size: 25px;
}

.col-xs-2.live button {
    margin-right: -2px;
}

/* media Query */
@media (max-width: 1200px) {
    .x_title h2 {
        width: auto;
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .nav-md .container.body .col-md-3.left_col {
        display: block;
    }
    .nav-md .container.body .right_col {
        width: auto;
        margin-left: 230px;
        padding: 0 20px !important;
    }
    .right_col {
        padding: 0 !important;
    }
}
@media screen and (max-width: 767px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
    }
    div.dt-buttons {
        margin-bottom: 0;
    }
}

/* Only IE Hack */
@media screen\0 {
    .top_nav_fixed .top_col {
        position: fixed;
    }
    .nav-md .container.body .col-md-3.left_col.menu_fixed {
        position: fixed; margin-top: 0;
    }
    .top_nav_fixed .right_col {
        top: 112px; /*top: 125px;*/
    }
    footer {
        padding: 5px 20px 10px;
    }
}

