/*--합격예측*/
.predictWrap {line-height: 1.5; position: relative;}
.predictWrap select {
    height: 2rem;
    background: none;
    padding: 0 0 0 0.6rem;
}
.predictWrap input:checked + label {color:#1087ef; border-bottom:1px dashed #1087ef !important}
.predictWrap input[type="text"] {height: 2rem;}
.predictWrap .willbes-Tit {background: #2e3c52; color:#fff; border:0}
.predictWrap .willbes-Tit span {color:#f6cc20}
.predictWrap .predictMain { background:#19191a url(https://static.willbes.net/public/images/promotion/2019/07/1332M_bg.jpg) no-repeat center top; background-size:720px;  text-align: center; padding-bottom:50px}
.predictWrap .predictMain .mainImg img {width:100%; max-width:720px;} 
.predictWrap .predictMain .mainBtn a { 
    display:block; width: 80%; max-width: 700px; margin:0 auto; padding:1em 0;
    text-align: center; background: #000; color:#fff; border-radius: 10px;
    font-size:18px; font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.predictWrap .predictMain .mainBtn a.btn2 {
    background:#bf1212; 
    animation:upDown 2s infinite;-webkit-animation:upDown 2s infinite;
}
	@keyframes upDown{
	from{background:#2e3c52}
	50%{background:#2fc2e0}
	to{background:#2e3c52}
	}
	@-webkit-keyframes upDown{
	from{background:#2e3c52}
	50%{background:#2fc2e0}
	to{background:#2e3c52}
    }   

.predictWrap .predictMain .sort {margin-top:30px}
.predictWrap .predictMain .sort div {
    display: inline-block; width: 100px; height: 100px; line-height: 100px; vertical-align: middle;
    border:3px solid #2fc2e0; border-radius: 50px; background: #fff; color:#2fc2e0;
    font-size:16px; margin-right:10px;
}
.predictWrap .predictMain .sort div:last-child {margin:0}
.predictWrap .predictMain .sort div span {display:block; line-height: 1.4; margin-top:25px;}

.tg-note .tg-tit {background:#1a8ccc; cursor:pointer; padding-left:10px; color:#fff; font-size:14px}
.tg-note .tg-cont {background:#ddeff9; padding:1em}
.tg-note .tg-cont li {line-height:1.4; list-style:disc; margin-left:10px}
.marktxt1 {color:#fff; margin-top:2em; padding:0 10%}
.marktxt2 {text-align:center; padding:1em}

.markTab {margin-top:10px; /*border-bottom:1px solid #333*/}
.markTab li {display:inline; float:left; width:50%}
.markTab a {display:block; padding:1em 0; background:#999; color:#fff; margin-right:1px; font-weight:bold; letter-spacing:2px; text-align:center}
.markTab a.active {background:#333}
.markTab li:last-child a {margin-right:0}
.markTab:after {content:""; display:block; clear:both}

.markTab2 li {width:20%}
.markTab2:after {content:""; display:block; clear:both}

.marking {margin:10px; padding:10px; border:1px dashed #e4e4e4}
.marking h5 {font-size:14px; margin-bottom:10px}
.marking li {display:inline; float:left; width:25%;}
.marking li div {margin-right:4px;  padding:3px; background:#666; text-align:center}
.marking li div label {color:#fff; padding-bottom:5px; display: block}
.marking li div input {width:100%; padding:5px 0; margin:0 auto; text-align:center; letter-spacing:4px}
.marking li div span {position:absolute; right:20px; top:30px; z-index: 10;}
.marking li:last-child div {margin-right:0}
.marking ul:after {content:""; display:block; clear:both}

.marking2 li {width:50%; position: relative;}

.marking3 li {width:33.33333%; position: relative;}



.markSbtn1 {width:100%; margin:1.5em auto; text-align:center;}
.markSbtn1 a {display:inline-block; padding:0.5em 1em; background:#1087ef; color:#fff; font-weight:bold; border-radius:5px; border:1px solid #1087ef; margin:0 5px}
.markSbtn1 a.btn2 {background:#bf1212; border:1px solid #bf1212}
.markSbtn1 a.btn3 {background:#fff; border:1px solid #333; color:#333}

.markMbtn2 {width:100%; margin:2em auto; text-align:center; background:url(https://static.willbes.net/public/images/promotion/2019/04/1187M_arrow.png) no-repeat center center; background-size:15px}
.markMbtn2 a {display:inline-block; padding:0.8em 0; text-align:center; width:38%; background:#1087ef; color:#fff; font-size:120%; font-weight:bold; border-radius:10px; box-shadow: 0 3px 3px rgba(0,0,0,.2); border:2px solid #1087ef; margin:0 15px}
.markMbtn2 a.btn2 {background:#fff; color:#1087ef}

.markingTit1 {margin-left:10px; border-left:2px solid #1087ef; padding-left:10px; font-size:120%}

.table_type {width:100%; margin:1em auto; border-top:#464646 1px solid; border-bottom:#464646 1px solid; border-left:#cdcdcd 1px solid}
.table_type caption {display:none}	
.table_type th,
.table_type td {letter-spacing:normal; text-align:center; padding:10px 8px}
.table_type th {color:#464646; background:#f3f3f3; font-weight:400; border-bottom:#cdcdcd 1px solid; border-right:#cdcdcd 1px solid}
.table_type th.th2 {background:#fffcd1}
.table_type td {border-bottom:#cdcdcd 1px solid; border-right:#cdcdcd 1px solid; vertical-align:middle; color:#464646; text-align:left}
.table_type td input {vertical-align:middle}
.table_type td span.blueB {font-weight:bold; color:#33F}
.table_type td span.redB {font-weight:bold; color:#C00}
.table_type td label {margin-right:10px}
.table_type .lineNo {border-right:none}
ul.sel_info li { display: inline-block; margin-right:10px; margin-bottom:5px}

.table_type2 td,
.table_type3 td {text-align:center}
.table_type2 td a {display:block; padding:0.5em 0; font-weight:bold; border-radius:5px; background:#fff; border:1px solid #333; color:#333}
.table_type3 td:nth-child(2),
.table_type3 td:nth-child(6) {color: #C00}
.markingPoint {height:30px; line-height:30px; width:200px; margin:0 auto; border:1px solid #333; box-sizing:content-box}
.markingPoint span {display:inline-block; background:#c00; color:#fff; padding:0 10px; width:50%; text-align: center; margin-right:10px}

.willbes-Layer-marking {
    position: absolute;
    bottom:0;
    left:0;
    display: none;
    float: left;
    width: 98%;
    background: #fff;
    padding: 10px 10px 20px;
    border:1px solid #000;
    margin: 1%;
    z-index: 105;
}
.willbes-Layer-marking .Layer-Tit {font-size:16px}
.willbes-Layer-marking .closeBtn {
    position: absolute;
    top: -1px;
    right: -1px;
}