/* NotoSansCJK */
@font-face {
	font-family: "NotoSansCJKkr-Regular";
	src: url("../../fonts/NotoSansCJK/NotoSansCJKkr-Regular.eot");
	src: url("../../fonts/NotoSansCJK/NotoSansCJKkr-Regular.eot?#iefix") format('embedded-opentype'),
			 url("../../fonts/NotoSansCJK/NotoSansCJKkr-Regular.woff2") format('woff2'),
			 url("../../fonts/NotoSansCJK/NotoSansCJKkr-Regular.woff") format('woff');
}

/* NotoSansCJK Thin */
@font-face {
	font-family: "NotoSansCJKkr-Thin";
	src: url("../../fonts/NotoSansCJK/NotoSansCJKkr-Thin.otf");
}

/* NotoSansCJK Black */
@font-face {
	font-family: "NotoSansCJKkr-Black";
	src: url("../../fonts/NotoSansCJK/NotoSansCJKkr-Black.otf");
}

/* NanumGothic Bold */
@font-face {
	font-family: "NanumGothic-Bold";
	src: url("../../fonts/NanumGothic/NanumGothic-Bold.eot");
	src: url("../../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix") format('embedded-opentype'),
			 url("../../fonts/NanumGothic/NanumGothic-Bold.woff2") format('woff2'),
			 url("../../fonts/NanumGothic/NanumGothic-Bold.woff") format('woff');
}

/* NanumGothic Extra Bold */
@font-face {
	font-family: "NanumGothic-ExtraBold";
	src: url("../../fonts/NanumGothic/NanumGothic-ExtraBold.eot");
	src: url("../../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix") format('embedded-opentype'),
			 url("../../fonts/NanumGothic/NanumGothic-ExtraBold.woff2") format('woff2'),
			 url("../../fonts/NanumGothic/NanumGothic-ExtraBold.woff") format('woff');
}

/* NanumGothic Regular */
@font-face {
	font-family: "NanumGothic-Regular";
	src: url("../../fonts/NanumGothic/NanumGothic-Regular.eot");
	src: url("../../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix") format('embedded-opentype'),
			 url("../../fonts/NanumGothic/NanumGothic-Regular.woff2") format('woff2'),
			 url("../../fonts/NanumGothic/NanumGothic-Regular.woff") format('woff');
}

/*
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
*/


html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
  }
  body {
	margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
	display: block;
  }
  audio,
  canvas,
  progress,
  video {
	display: inline-block;
	vertical-align: baseline;
  }
  audio:not([controls]) {
	display: none;
	height: 0;
  }
  [hidden],
  template {
	display: none;
  }
  a {
	background-color: transparent;
  }
  a:active,
  a:hover {
	outline: 0;
  }
  abbr[title] {
	border-bottom: 1px dotted;
  }
  b,
  strong {
	font-weight: bold !important;
  }
  dfn {
	font-style: italic;
  }
  h1 {
	margin: .67em 0;
	font-size: 2em;
  }
  mark {
	color: #000;
	background: #ff0;
  }
  small {
	font-size: 80%;
  }
  sub,
  sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
  }
  sup {
	top: -.5em;
  }
  sub {
	bottom: -.25em;
  }
  img {
	border: 0;
  }
  svg:not(:root) {
	overflow: hidden;
  }
  figure {
	margin: 1em 40px;
  }
  hr {
	height: 0;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
			box-sizing: content-box;
  }
  pre {
	overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
	font-family: monospace, monospace;
	font-size: 1em;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
	margin: 0;
	font: inherit;
	color: inherit;
  }
  button {
  overflow: visible;
  border:0;
  }
  button,
  select {
	text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
	cursor: default;
  }
  input[type="file"] {
    width: 100%;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  input {
  line-height: normal;
  vertical-align:middle;
  }
  input[type="checkbox"],
  input[type="radio"],
  input[type="file"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
	height: auto;
  }
  input[type="search"] {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
			box-sizing: content-box;
	-webkit-appearance: textfield;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
  }
  input:focus {border:1px solid #1087ef !important}
  fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid #c0c0c0;
  }
  legend {
	padding: 0;
	border: 0;
  }
  textarea {
	overflow: auto;
  }
  optgroup {
	font-weight: bold;
  }
  table {
	border-spacing: 0;
  border-collapse: collapse;
  border-style: none;
  padding: 0;
  width: 100%;
  }
  td,
  th {
  padding: 0;
  border-spacing: 0;
  border-style: none;
  }
  * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }
  *:before,
  *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
  }


/* START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: middle; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 12px;
	line-height: 1;
	font-family: "굴림", "Gulim", "돋움", "Dotum", "Helvetica", "Apple SD Gothic Neo", "sans-serif";
  min-width: 1460px;
  word-break: break-all;
  overflow-x: hidden;

}
body#widthFrame {
  min-width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
  display: none;
}
select {
  border: 1px solid #d4d4d4;
}
button {
  width: 100%;
  height: 100%;
}
button span {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
a, a:hover, a:active, a:link, a:visited {
	text-decoration: none;
	color: inherit;
  vertical-align: baseline;
  cursor:pointer;
}
strong {
	font-weight: 700;
	vertical-align: baseline;
}
.sel_disabled,
select[disabled] {
  background: #eee;
}

.GM {
	font-family: "굴림", "Gulim", "돋움", "Dotum", "Helvetica", "Apple SD Gothic Neo", "sans-serif";
}
.NSK {
	font-family: "NotoSansCJKkr-Regular", "Noto Sans KR", "sans-serif" !important;
}
.NSK-Thin {
	font-family: "NotoSansCJKkr-Thin", "Noto Sans KR", "sans-serif" !important;
}
.NSK-Black {
	font-family: "NotoSansCJKkr-Black", "Noto Sans KR", "sans-serif" !important;
}
.NG {
	font-family: "NanumGothic-Bold", "Nanum Gothic", "나눔고딕", "sans-serif";
}
.NGEB {
	font-family: "NanumGothic-ExtraBold", "Nanum Gothic", "나눔고딕", "sans-serif";
}
.NGR {
	font-family: "NanumGothic-Regular", "Nanum Gothic", "나눔고딕", "sans-serif";
}

/* Basic Code */
.widthAuto {
  width: 1120px !important; 
  margin: 0 auto;
}
.widthAuto260 {
  width: 260px;
  margin: 0 auto;
}
.widthAuto290 {
  width: 290px;
  margin: 0 auto;
}
.widthAuto320 {
  width: 320px;
  margin: 0 auto;
}
.widthAuto330 {
  width: 330px;
  margin: 0 auto;
}
.widthAuto350 {
  width: 350px;
  margin: 0 auto;
}
.widthAuto353 {
  width: 353px;
  margin: 0 auto;
}
.widthAuto360 {
  width: 360px;
  margin: 0 auto;
}
.widthAuto365 {
  width: 365px;
  margin: 0 auto;
}
.widthAuto400 {
  width: 400px;
  margin: 0 auto;
}
.widthAuto445 {
  width: 445px;
  margin: 0 auto;
}
.widthAuto460 {
  width: 460px;
  margin: 0 auto;
}
.widthAuto530 {
  width: 530px;
  margin: 0 auto;
}
.widthAuto550 {
  width: 550px;
  margin: 0 auto;
}
.widthAuto560 {
  width: 560px;
  margin: 0 auto;
}
.widthAuto570 {
  width: 570px;
  margin: 0 auto;
}
.widthAuto690 {
  width: 690px;
  margin: 0 auto;
}
.widthAuto770 {
  width: 770px;
  margin: 0 auto;
}
.widthAuto810 {
  width: 810px !important;
  margin: 0 auto;
}
.widthAuto820 {
  width: 820px !important;
  margin: 0 auto;
}
.widthAuto940 {
  width: 940px;
  margin: 0 auto;
}
.widthAutoFull {
  width: 100% !important;
  margin: 0 auto;
}

.btnAuto {
  width: 100%;
  margin: 0 auto;
}
.btnAuto90 {
  width: 90px;
  margin: 0 auto;
}
.btnAuto120 {
  width: 120px;
  margin: 0 auto;
}
.btnAuto130 {
  width: 130px;
  margin: 0 auto;
}
.btnAuto164 {
  width: 164px;
  margin: 0 auto;
}
.btnAuto95 {
  width: 95px !important;
  margin: 0 auto;
}
.btnAuto180 {
  width: 180px !important;
  margin: 0 auto;
}
.btnAuto200 {
  width:200px !important;
  margin: 0 auto;
}
.btnAuto250 {
  width: 250px !important;
  margin: 0 auto;
}

.h22 {
  height: 22px !important;
  line-height: 20px;
}
.h27 {
  height: 27px !important;
  line-height: 25px;
}
.h30 {
  height: 30px !important;
  line-height: 28px;
}
.h36 {
  height: 36px !important;
  line-height: 34px;
}
.h42 {
  height: 42px !important;
}
.h46 {
  height: 46px !important;
}
.h55 {
  height: 55px !important;
}
.h66 {
  height: 66px !important;
}
.h250 {
  height: 250px !important;
}
.h350 {
  height: 350px !important;
}
.h400 {
  height: 400px !important;
}
.h420 {
  height: 420px !important;
}
.h460 {
  height: 460px !important;
}
.h470 {
  height: 470px !important;
}
.h510 {
  height: 510px !important;
}
.h520 {
  height: 520px !important;
}
.h550 {
  height: 550px !important;
}
.h590 {
  height: 590px !important;
}
.h750 {
  height: 750px !important;
}
.h800 {
  height: 800px !important;
}
.h860 {
  height: 860px !important;
}
.h900 {
  height: 900px !important;
}
.h920 {
  height: 920px !important;
}
.h960 {
  height: 960px !important;
}
.h990 {
  height: 990px !important;
}
.h1100 {
  height: 1100px !important;
}
.hauto {
  height: auto !important;
}


.mg-zero,
.mg0 {
  margin: 0 !important;
}

.mt-zero,
.mt0 {
  margin-top: 0px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt65 {
  margin-top: 65px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt85 {
  margin-top: 85px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mt95 {
  margin-top: 95px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mt110 {
  margin-top: 110px !important;
}
.mt150 {
  margin-top: 150px !important;
}

.mb-zero {
  margin-bottom: 0 !important;
}
.mb3 {
  margin-bottom: 3px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.mb170 {
  margin-bottom: 170px !important;
}

.ml-zero {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml45 {
  margin-left: 45px !important;
}
.ml50 {
  margin-left: 50px !important;
}

.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr70 {
  margin-right: 70px !important;
}

.pt-zero {
  padding-top: 0px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pt100 {
  padding-top: 100px !important;
}

.pl-zero {
  padding-left: 0px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl45 {
  padding-left: 45px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pl115 {
  padding-left: 115px !important;
}
.pl135 {
  padding-left: 135px !important;
}

.pr10 {
  padding-right: 10px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr45 {
  padding-right: 45px !important;
}

.pb-zero,
.pb-none {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb55 {
  padding-bottom: 55px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pb70 {
  padding-bottom: 70px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pb85 {
  padding-bottom: 85px !important;
}
.pb90 {
  padding-bottom: 90px !important;
}
.pb110 {
  padding-bottom: 110px !important;
}
.pb130 {
  padding-bottom: 130px !important;
}


.tx11 {
  font-size: 11px;
}
.tx12 {
  font-size: 12px;
}
.tx13 {
  font-size: 13px;
}
.tx14 {
  font-size: 14px;
}
.tx15 {
  font-size: 15px;
}
.tx16 {
  font-size: 16px !important;
}
.tx17 {
  font-size: 17px;
}
.tx18 {
  font-size: 18px !important;
}
.tx22 {
  font-size: 22px !important;
}

.tx-center {
  text-align: center !important;
}
.tx-left {
  text-align: left !important;
}
.tx-right {
  text-align: right !important;
}
.valign-base {
  vertical-align: baseline;
}
.p_re {
  position: relative;
}
.p_ab {
  position: absolute;
}
.f_left {
  float: left !important;
}
.f_right {
  float: right !important;
}
.f_inherit {
  float: inherit !important;
}
.d_block {
  display: block !important;
}
.d_inblock {
  display: inline-block !important; 
}
.d_none {
  display: none !important;
}
.c_both {
  clear: both !important;
}
.strong {
  font-weight: 600 !important;
}
.normal {
  font-weight: 300 !important;
}

.tx-white {
  color: #fff !important;
}
.tx-origin-red {
  color: #c00 !important;  
}
.tx-red {
  color: #ed1c24 !important;
}
.tx-pink {
  color: #f14078 !important;
}
.tx-light-pink {
  color: #f24d80 !important;
}
.tx-green {
  color: #026f61 !important;
}
.tx-y-green {
  color: #35820e;
}
.tx-sky-blue {
  color: #2fb2f1 !important;
}
.tx-bright-blue {
  color: #1087ef !important;
}
.tx-light-blue {
  color: #1a8ccc !important;
}
.tx-blue {
  color: #0d74ae !important;
} 
.tx-dark-blue {
  color: #003e7d !important;
}
.tx-deep-blue {
  color: #0d56ae !important;
}
.tx-bright-brown {
  color: #8c6239 !important;
}
.tx-bright-gray {
  color: #9a9a9a !important;
} 
.tx-light-gray {
  color: #c0c0c0 !important;
}
.tx-gray {
  color: #707070 !important;
}
.tx-dark-gray {
  color: #4a4a4a !important;
}
.tx-black {
  color: #323232 !important;
}
.tx-dark-black {
  color: #363636 !important;
}
.tx-light-black {
  color: #3a3a3a !important;
}
.tx-purple-gray {
  color: #7e7e86 !important;
}

.bg-black {
  background: #333;
}
.bg-bright-gray {
  background: #d8d8d8;
}
.bg-light-gray {
  background: #f5f5f5;
}
.bg-gray {
  background: #eaeaea;
}
.bg-dark-gray {
  background: #b7b7b7;
}
.bg-purple-gray {
  background: #7e7e86;
}
.bg-deep-gray {
  background: #707070;
}
.bg-heavy-gray {
  background: #636363;
}
.bg-white {
  background: #fff !important;
}
.bg-light-white {
  background: #f9f9f9;
}
.bg-light-blue {
  background: #eef7fc;
}
.bg-bright-blue {
  background: #c7e5f7;
}
.bg-blue {
  background: #1a8ccb;
}
.bg-dark-blue {
  background: #0d74ae;
}
.bg-gray-purple {
  background: #626d82;
}

.bg-none {
  background: none !important;
}

.bd-dark-blue {
  border: 1px solid #0d74ae;
}
.bd-gray {
  border: 1px solid #f3eded;
}
.bd-dark-gray {
  border: 1px solid #555;
}
.bd-light-gray {
  border: 1px solid #c9c9c9;
}

.bdt-bright-gray {
  border-top: 1px solid #edeeef;
}
.bdt-light-gray {
  border-top: 1px solid #e2e2e2;
}
.bdt-dark-gray {
  border-top: 1px solid #c9c9c9;
}
.bdt-gray {
  border-top: 1px solid #959595;
}
.bdt-m-gray {
  border-top: 1px solid #ccc;
}

.bdb-black2 {
  border-bottom: 2px solid #000;
}
.bdb-light-gray {
  border-bottom: 1px solid #cacaca;
}
.bdb-gray {
  border-bottom: 1px solid #959595;
}
.bdb-dark-gray {
  border-bottom: 1px solid #c9c9c9;
}
.bdr-none {
  border-right: none !important;
}
.bdb-none {
  border-bottom: none !important;
}
.bd-none {
  border: none !important;
}

.fc-bd-none tbody tr:first-child th,
.fc-bd-none tbody tr:first-child td {
  border-top: none;
}

.upper-black thead tr th {
  border-top: 1px solid #959595;
}
.upper-gray tbody tr th,
.upper-gray tbody tr td {
  border-top: 1px solid #edeeef;
}
.under-black tr th,
.under-black tr td {
  border-bottom: 1px solid #959595;
}
.under-gray tr th,
.under-gray tr td {
  border-bottom: 1px solid #edeeef;
}

.row-line {
  overflow: hidden;
  display: inline-block;
  text-indent: -9999px;
}
.arrow-Btn {
  text-indent: -9999px;
  display: inline-block;
}
.underline {
  text-decoration: underline !important;
}
.line-through {
  text-decoration: line-through !important;
}
.of-hidden {
  overflow-x: hidden;
  overflow-y: auto;
}
.caution-txt {
  background: url("../../img/willbes/sub/icon_caution.gif") no-repeat 0 center;
}
.chkBox-Agree {
  background: url("../../img/willbes/login/icon_check.png") no-repeat 0 0;
  width: 22px;
  height: 22px;
}
.chkBox-Agree.checked {
  background: url("../../img/willbes/login/icon_check.png") no-repeat 0 -44px;
}
.chkBox-Agree input[type=checkbox] {
  opacity: 0;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
