/*********************************************     Main Container : Cop_adm     *********************************************/
/* Main Container : adm */
.adm .tx-color {
	color: #008b6c;
}
.adm .cop-color {
	color: #008b6c;
}
/* Main Container : Tit : 경행경채 adm */
/*Main Container : 상단 배너*/
    .adm .MainVisual {
        width: 100%;
        min-width: 1120px;
        max-width: 2000px;
        height: 440px;
        overflow: hidden;
        position: relative;
        margin:0 auto;
        text-align: center;
    }

    .adm .MaintabBox {
        position: absolute;
        top:0;
        left:50%;
        margin-left:-1000px;
        width: 2000px;
        min-width: 1120px;
        max-width: 2000px;
        height: 440px;
        overflow: hidden;
    }
    .adm .MaintabBox p {position:absolute; top:50%; left:50%; margin-top:-28px; width:32px; height:50px; cursor:pointer;
        background: url(https://static.willbes.net/public/images/promotion/main/2012_arrow_01.png) no-repeat left center;  opacity:0.2; filter:alpha(opacity=20);}
    .adm .MaintabBox p a {display:none;}
    .adm .MaintabBox p.leftBtn {margin-left:-620px;}
    .adm .MaintabBox p.rightBtn {margin-left:588px; background-position: right center;}
    .adm .MaintabBox p:hover {opacity:100; filter:alpha(opacity=100);}

    .adm .MaintabList {
        position: absolute;
        top:390px;
        width:100%;
        height: 50px;
        z-index: 99;
        background-color: rgba(0,0,0,0.5);
    }
    .adm .VisualBox .Maintab {width: 100%; margin:0 auto; text-align:center}
    .adm .VisualBox .Maintab span {
        display: inline-block;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
        width: 200px;
        color:#fff
    }
    .adm .VisualBox .Maintab span a.active,
    .adm .VisualBox .Maintab span a:hover {color:#f9dd74; font-weight:600}
    .adm .VisualBox .Maintab:after {content:""; display:block; clear:both}
    .adm .VisualBox .MaintabList.three span {
        width: 209px;
    }
    .adm .VisualBox .MaintabList.four span {
        width: 156px;
    }
    .adm .VisualBox .MaintabList.five span {
        width: 188px;
    }
    .adm .VisualBox .MaintabList span a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .adm .VisualBox .MaintabSlider li img {
        width: 100%;
        height: 100%;
    }
    .adm .VisualBox .Maintab li a:hover,
    .adm .VisualBox .Maintab li a.active { color:#fff;  font-weight: bold; background:rgba(0,0,0,0.5);}

    /*Main Container : 배너 4칸*/
    .adm .SecBanner02 {
        width:265px;
        height:350px;
        margin-right:20px;
        display: inline;
        float: left;
    }
    .adm .SecBanner02:last-child {margin:0}
    .adm .SecBanner02 .tag {height:30px; line-height: 30px; font-size: 15px;}
    .adm .SecBanner02 .slider {width: 265px; height: 320px; overflow: hidden;}
    .adm .SecBanner02 .bx-wrapper .bx-pager.bx-default-pager a {
        background: #fff;
        border:1px solid #b9b9b9;
        border-radius:10px;
    }
    .adm .SecBanner02 .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .adm .SecBanner02 .bx-wrapper .bx-pager.bx-default-pager a.active,
    .adm .SecBanner02 .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #000;
        border:1px solid #000;
    }

    /*Main Container : 최근 업로드 강의*/
    .adm .will-nTit {font-size:35px !important; border:0 !important; }
    .adm .uploadLec {
        box-shadow:0 10px 25px rgba(0,0,0,.2);
        border-radius:10px;
        padding:20px;
    }
    .adm .uploadLec .vSlider {position:relative; width:100%; height:74px;}
    .adm .uploadLec .vSlider:after {content:''; display: block; clear:both}
    .adm .uploadLec .vSlider .sliderNumV {
        height:74px;
        overflow: hidden;
    }
    .adm .uploadLec .vSlider .sliderNumV > div:after {content:''; display: block; clear:both}
    .adm .uploadLec .vSlider .sliderNumV .lecReview {
        float:left;
        display: inline;
        width:50%;
        height:74px;
        line-height: 1.3;
    }
    .adm .uploadLec .vSlider .sliderNumV .lecReview a {display:block;}
    .adm .uploadLec .vSlider .sliderNumV .lecReview a:after {content:''; display: block; clear:both}
    .adm .uploadLec .imgBox {
        position:relative;
        float: left;
        width: 74px;
        height: 74px;
        border-radius:6px;
        overflow:hidden
    }
    .adm .uploadLec .imgBox img {
        position: absolute; left:50%; top:50%; width:100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%) scale(1);
        transition: all ease-in-out .2s;
    }
    .adm .uploadLec .vSlider .sliderNumV .lecReview a:hover img {
        -ms-transform: translate(-50%, -50%) scale(1.1);
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
    }
    .adm .uploadLec .vSlider .sliderNumV > div:nth-child(1n) .lecReview:nth-child(1n) .imgBox {
        background:#34b696;
    }
    .adm .uploadLec .vSlider .sliderNumV > div:nth-child(1n) .lecReview:nth-child(2n) .imgBox {
        background:#e583b9;
    }
    .adm .uploadLec .vSlider .sliderNumV > div:nth-child(2n) .lecReview:nth-child(1n) .imgBox {
        background:#3490b6;
    }
    .adm .uploadLec .vSlider .sliderNumV > div:nth-child(2n) .lecReview:nth-child(2n) .imgBox {
        background:#b1b634;
    }
    .adm .uploadLec .vSlider .sliderNumV > div:nth-child(3n) .lecReview:nth-child(1n) .imgBox {
        background:#b67734;
    }
    .adm .uploadLec .vSlider .sliderNumV > div:nth-child(3n) .lecReview:nth-child(2n) .imgBox {
        background:#d3b9ef;
    }
    .adm .uploadLec .lecinfo {float:left; margin-left:10px}
    .adm .uploadLec .lecinfo p {margin-bottom: 5px; color:#848484; font-size:15px}
    .adm .uploadLec .lecinfo p:nth-child(2) {color:#363636; font-size:16px; font-weight:600; margin-bottom: 10px;}
    .adm .uploadLec .lecinfo p:nth-child(3) {color:#0c5dc0; font-size:12px}
    .adm .uploadLec .bx-wrapper .bx-controls-direction {
        position: absolute;
        top: 0;
        right: 10px;
        width: 40px;
        height: 20px;
    }
    .adm .uploadLec .bx-wrapper .bx-controls-direction a {
        width: 20px;
        height: 20px;
    }
    .adm .uploadLec .bx-wrapper .bx-pager {
        float: none;
        width: 100%;
        right: 8px;
        bottom: -50px;
        text-align: center;
    }
    .adm .uploadLec .bx-wrapper .bx-pager.bx-default-pager a {
        width: 12px;
        height: 12px;
        margin: 0 2px;
        background: #fff;
        border:1px solid #b9b9b9;
        border-radius:10px;
    }
    .adm .uploadLec .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .adm .uploadLec .bx-wrapper .bx-pager.bx-default-pager a.active,
    .adm .uploadLec .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #000;
        border:1px solid #000;
    }
    .adm .uploadLec .bx-wrapper .bx-pager.bx-default-pager a.active {
        width: 40px;
    }

    /*개편 과목 전문교수진*/
    .adm .SecBanner03 {
        margin-right:-5px;
    }
    .adm .SecBanner03 li {
        display:inline; float:left;  margin-right:5px;
    }
    .adm .SecBanner03:after {content:''; display: block; clear:both}

    /*개편 과목 전문교수진*/
    .adm .SecBanner04 .bSlider .slider {
        height: 100px;
        overflow:hidden;
    }
    .adm .SecBanner04 .bx-wrapper .bx-pager {
        float: none;
        width: 100%;
        right: 8px;
        bottom: -30px;
        text-align: center;
    }
    .adm .SecBanner04 .bx-wrapper .bx-pager.bx-default-pager a {
        background: #ccc;
        width: 12px;
        height: 12px;
        margin: 0 2px;
        background: #fff;
        border:1px solid #b9b9b9;
        border-radius:10px;
    }
    .adm .SecBanner04 .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .adm .SecBanner04 .bx-wrapper .bx-pager.bx-default-pager a.active,
    .adm .SecBanner04 .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: #000;
        border:1px solid #000;
    }
    .adm .SecBanner04 .bx-wrapper .bx-pager.bx-default-pager a.active {
        width: 40px;
    }

    /*전문교수진 */
    .adm .SectionBg01 {background:#fbfbfd; padding:100px 0 80px}
    .adm .SecBanner05 {margin-right:-20px; margin-top:20px}
    .adm .SecBanner05 li {display:inline; float:left; margin:0 20px 20px 0;}
    .adm .SecBanner05:after {content:''; display: block; clear:both}

    .adm .SectionBg02 {background:#f8f0dd; padding:100px 0}
    .adm .SectionBg02 .will-nTit {color:#000}
    .adm .SecBanner06 {margin-right:-20px; margin-top:20px}
    .adm .SecBanner06 li {display:inline; float:left; margin:0 20px 20px 0;}
    .adm .SecBanner06:after {content:''; display: block; clear:both}
    .adm .tabTv {margin-top:40px}
    .adm .tabTv .tabTvBtns {float:left; width:285px}
    .adm .tabTv .tabTvBtns li a {display:block; margin:0 0 18px}
    .adm .tabTv .tabTvBtns li a span {padding-bottom:3px; border-bottom:2px solid #f8f0dd; color:#c0b381; font-size:22px;}
    .adm .tabTv .tabTvBtns li a:hover span,
    .adm .tabTv .tabTvBtns li a.on span {color:#000; border-bottom:2px solid #000}
    .adm .tabTv .moreBtn {margin-top:40px}
    .adm .tabTv .moreBtn a {display:inline-block; color:#fff; background:#000; border-radius:30px; height:24px; line-height:24px; padding:0 20px}
    .adm .tabTv .TvctsBox:after {content:''; display: block; clear:both}
    .adm .tabTv .Tvcts {width:265px; display:inline-block; float:left; margin-right:20px}
    .adm .tabTv .Tvcts img {width:100%}
    .adm .tabTv .Tvcts:last-child {margin:0}
    .adm .tabTv .TVcts p {text-align:center; margin-top:10px; font-size:15px; color:#000}

    .adm .SecBanner07 ul {margin-right:-20px}
    .adm .SecBanner07 li {display:inline; float:left; width:265px; margin-right:20px}
    .adm .SecBanner07 li a {display:block}
    .adm .SecBanner07 li:last-child a:last-child {margin-top:-1px}

    /*교재*/
    .adm .SectionBg03 {background:#f3f0ed; padding:100px 0}
    .adm .bookContent {position:relative; width:1120px; margin:50px auto;}
    .adm .bookList:after {content:""; display:block; clear:both}
    .adm .bookList li {display:inline; float:left; width:186px; height:300px; text-align:center; margin-bottom:30px; padding-bottom:10px;
        word-break: keep-all; color:#43484f;}
    .adm .bookList span {background: url(https://static.willbes.net/public/images/promotion/main/2001/book_cover.png) no-repeat center top;
        width:167; height:196px; position: absolute; left:10px; top:0; z-index:10}
    .adm .bookList .bookImg {position:relative;  width:142px; margin:0 auto; min-height:196px; overflow: hidden;}

    .adm .bookList li img {
        position: absolute; left:50%; top:50%; max-width:150px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%) scale(1);
        transition: all ease-in-out .2s;
    }
    .adm .bookList li:hover img {
        -ms-transform: translate(-50%, -50%) scale(1.1);
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
    }
    .adm .bookList p {width:90%; margin:auto;}
    .adm .bookList p:nth-of-type(1) {font-weight:bold; line-height: 1.2; font-size:17px; margin-top:10px}
    .adm .bookList p:nth-of-type(2) {font-size:13px; color:#363636; margin-top:10px}

    .adm .bookContent > p {position:absolute; top:50%; left:50%; margin-top:-28px; width:32px; height:57px; cursor:pointer;
        background: url(https://static.willbes.net/public/images/promotion/main/2012_arrow_01.png) no-repeat left center;}
    .adm .bookContent > p a {display:none;}
    .adm .bookContent > p.leftBtn {margin-left:-600px;}
    .adm .bookContent > p.rightBtn {margin-left:600px; background-position: right center;}
    .adm .willbes-Layer-Box {left:50%; top:4520px !important; margin-left:-490px !important; z-index: 110;}