/*********************************************     Main Container : free     *********************************************/
.zero100_01 {background:url(https://static.willbes.net/public/images/promotion/2019/06/zero100_01_bg.jpg) no-repeat center top;}
.zrCts01 {position:relative; width:1120px; margin:0 auto;}        

.zrCts01 span {position:absolute;}
.zrCts01 span.img01 {width:696px; top:650px; left:567px; z-index:2;}        

.zrCts01 span.img02 {width:702px; top:572px; left:56px; z-index:1; animation:ani02 1s ease-in; -webkit-animation:ani02 1s ease-in;}
@keyframes ani02{
0%{left:567px; opacity: 0;}
90%{left:0; opacity: .9;}
100%{left:56px; opacity: 1;}
}

.zero100_02 {background:url(https://static.willbes.net/public/images/promotion/2019/06/zero100_02_bg.jpg) no-repeat center top;}
.zrCts02 {position:relative; width:1120px; margin:0 auto;}               
.zrCts02 span {position:absolute; width:204px; top:710px; left:335px; z-index:1; animation:ani03 1s infinite;}
@keyframes ani03{
0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
50%{-webkit-transform:scale3d(1.15,1.15,1);transform:scale3d(1.15,1.15,1)}
100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}

.free .Section2 {
    background: #f3f3f3;
}
.free .Section3 {
    background: #f7f7f7;
}

.free .Depth .depth:last-child strong {
    color: #ba560e;
}

/* Main Container : MainVisual */
.free .MainVisual:after {
    content: "";
    display: block;
    clear: both;
}

.free .VisualsubBox {
    position: relative;
    width: 1120px;
    height: 380px;
    overflow: hidden;
}
.free .VisualsubBox .bx-wrapper .bx-controls-auto {
    left:20px;
    bottom: 20px;
    margin: 0;
    width: 50px;
    z-index: 90;
  }
.free .VisualsubBox .bx-wrapper .bx-pager {
    float: right;
    width: auto;
    left:60px;
    bottom: 20px;
    text-align: right;
}
.free .VisualsubBox .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    width: 8px;
    height: 8px;
    margin: 0 2px;
}

/**/
.free .sliderPlay {
    width: 1120px;
}
.free .sliderPlay li {
    display: inline;
    float: left;
    width: 556px;
    height: 110px;
    overflow: hidden;  
    margin-right:4px;      
}
.free .sliderPlay li:last-child {
    margin-right:0;
}
.free .sliderPlay:after {
    content: "";
    display: block;
    clear: both;
}

/* Main Container : Prof */
.free .PBcts li {
    float: left;
    width: 274px;
    height: 222px;
    overflow: hidden;
    margin-left: 8px;
}
.free .PBcts li:first-child {
    margin-left: 0;
}
.free .PBcts:after {
    content: "";
    display: block;
    clear: both;
}

/**/
.free .smallTit {
    border-top:1px solid #000;
    font-size: 22px;
    color:#363636;    
    position: relative;
}
.free .smallTit p {
    position: absolute;
    top:-15px;
    text-align:left;
    width: 100%;
}
.free .smallTit p a {vertical-align: top; margin-left: 10px}
.free .smallTit span {
    font-weight: 600;
    background: #fff;
    padding:0 20px 0 0;
}
.free .smallTit strong {
    color:#ba560e;
}

.free .will-listTit {
    margin-bottom: 15px;
    color:#181818;
}


/* Main Container : Notice : noticeTabs */
.free .tabWrap.noticeWrap {
    height: 16px;
    border: none;
}
.free .tabWrap.noticeWrap li {
    float: left;
    width: auto;
    height: 16px;
    margin-right: 10px;
}
.free .tabWrap.noticeWrap li a {
    display: block;
    width: 100%;
    height: 19px;
    line-height: 19px;
    font-size: 17px;
    color: #c5c5c5;
    text-align: center;
    letter-spacing: 0;
    border:none !important;
    border-right:1px solid #999 !important;
    padding-right: 10px;
}
.free .tabWrap.noticeWrap li a.on {
    height: 19px;
    line-height: 19px;
    font-weight: 600;
    color: #393e80;
    border:none !important;
    border-right:1px solid #999 !important;
}
.free .tabWrap.noticeWrap li:last-child a.on,
.free .tabWrap.noticeWrap li:last-child a {
    border-right:none !important;
}
.free .tabBox.noticeBox a.btn-add {
    position: absolute;
    top: -16px;
    right: 0;
}
.free .tabBox.noticeBox .List-Table {
    width: 520px;
}
.free .tabBox.noticeBox .List-Table li {
    position: relative;
    font-size: 13px;
    color: #3a3a3a;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e3e3e3;
}
.free .tabBox.noticeBox .List-Table li a {
    display: inline-block;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}
.free .tabBox.noticeBox .List-Table li a span {
    background: #393e80;
    color:#fff;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 5px;
}


/* Main Container : free */
.free .tx-color {
    color: #393e80;
}