/*********************************************     Main Container : Cop_sea_special   *********************************************/
/* Main Container : Cop_sea_special */
.seaSp .tx-color {
    color: #9177d4;
}
.seaAcadTit { height: 30px; line-height: 30px; text-align: left; font-size:16px}
.Section2 { background: #f7f7f7}

/* Main Container : Tit : Cop_sea_special */
.seaSp .smallTit {
    border-top:1px solid #b8b8b8;
    font-size: 22px;
    color:#363636;    
    position: relative;
}
.seaSp .smallTit p {
    position: absolute;
    top:-15px;
    text-align: center;
    width: 100%;
}
.seaSp .smallTit span {
    padding:0 20px;
    font-weight: 600;
    background: #fff;
}
.seaSp .smallTit strong {
    color:#9177d4;
}

.seaSp .smallTit a {
    position: absolute;
    width: 23px;
    top:-12px;
    right:0;    
    z-index: 1;
}
.seaSp .smallTit2 span {
    background:#f7f7f7;
}
.seaSp .Section .will-big-Tit .cop-color {
    color: #9177d4;
}

/**/
.seaSp .Section .bnrSec01 li {
    display: inline;
    float: left;
    margin-right: 8px;    
}
.seaSp .Section .bnrSec01 li:last-child {
    margin:0
}
.seaSp .Section .bnrSec01:after {
    content:'';
    display: block;
    clear:both;
}

/**/
.seaSp .Section .bnrSec02 li {
    display: inline;
    float: left;
    margin-right: 8px;    
}
.seaSp .Section .bnrSec02 li:last-child {
    margin:0
}
.seaSp .Section .bnrSec01:after {
    content:'';
    display: block;
    clear:both;
}

/* Main Container : Prof : Cop_sea_special */
.seaSp .Section .ProfCopBox > li {
    position: relative;
    display: inline;
    float: left;
    width: 274px;
    height: 257px;
    margin-left: 8px;
}
.seaSp .Section .ProfCopBox > li:first-child {
    margin-left: 0;
}
.seaSp .Section .ProfCopBox .ProfBtns {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;    
    z-index: 1;
}
.seaSp .Section .ProfCopBox .ProfBtns li {    
    display: inline;
    float: left;
    width: 50%;   
    height: 40px;
    height: 40px;          
}
.seaSp .Section .ProfCopBox .ProfBtns li a {    
    display: block;
    line-height: 40px;    
    color:#fff;
    text-align: center;
    margin-left: 1px; 
    background: rgba(0,0,0,.5); 
}
.seaSp .Section .ProfCopBox .ProfBtns li:first-child a {
    margin-left: 0;
}
.seaSp .Section .ProfCopBox .ProfBtns li a:hover {
    background:#9177d4;
    font-size: 14px;
}
.seaSp .Section .ProfCopBox .ProfBtns li span {
    padding-left:10px;
}
.seaSp .Section .ProfCopBox .ProfBtns:after,
.seaSp .Section .ProfCopBox:after {
    content: '';
    display: block;
    clear: both;
}

/* Main Container : SpecialLecBox */
.seaSp .Section .SpecialLecBox .infoTit .btn .btn-sbj a {
    background: #9177d4;
}
.seaSp .Section .SpecialLecBox .infoList .List-Table li a span {
    float: left;
    width: 130px;
    color: #9177d4;
    text-align: center;
}

/* Main Container : Notice : Cop_sea_special */
.seaSp .Section .nNoticeBox .infoBox .infoTit {
    color: #9177d4;
    line-height: 20px;
    font-weight: 600;
}

.seaSp .willbesNumber ul li {
    margin-left: 100px;
}
.seaSp .willbesNumber ul li:first-child {
    margin-left: 50px;
}