/*********************************************     Main Container : tech     *********************************************/
.tech .Section2 {
    background:url("../../img/willbes/gosi_tech/visual/visual_top_bg.jpg") repeat-x left 95px;
}
.tech .Section3 {
    background: #f7f7f7;
}

.tech .Depth .depth:last-child strong {
    color: #ba560e;
}

/* Main Container : MainVisual */
.tech .VisualsubBox {
    width: 1120px;
    height: 380px;
    overflow: hidden;
}
.tech .VisualsubBox .bx-wrapper .bx-controls-auto {
    left:20px;
    bottom: 20px;
    margin: 0;
    width: 50px;
    z-index: 50;
  }
.tech .VisualsubBox .bx-wrapper .bx-pager {
    float: right;
    width: auto;
    left:60px;
    bottom: 20px;
    text-align: right;
    z-index: 50;
}
.tech .VisualsubBox .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    width: 8px;
    height: 8px;
    margin: 0 2px;    
}

.tech .bx-wrapper .bx-pager.bx-default-pager a {
  background: #898989 !important;
}
.tech .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.tech .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.tech .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #f7ec1e !important;
}


/* Main Container : Prof */
.tech .ProfBox {
    margin-top:70px;
}
.tech .ProfBox .PBtab li {
    display: inline;
    float: left;
    width: 50%;
}
.tech .ProfBox .PBtab li a {
    display: block;
    text-align: center;
    font-size: 22px;
    color:#b9b9b9;
    height: 54px;
    line-height: 54px;
    border:1px solid #b9b9b9;
    border-bottom:1px solid #6faf4e;
}
.tech .ProfBox .PBtab li a.active {
    color:#6faf4e;
    border:1px solid #6faf4e;
    border-bottom:1px solid #fff;
    font-weight: 600;
}
.tech .ProfBox .PBtab:after {
    content: "";
    display: block;
    clear: both;
}
.tech .ProfBox .PBcts li {
    float: left;
    width: 274px;
    height: 234px;
    margin-left: 8px;
}
.tech .ProfBox .PBcts li:first-child {
    margin-left: 0;
}

.tech .ProfBox .PBcts:after {
    content: "";
    display: block;
    clear: both;
}
.tech .ProfBox .bSlider .bx-wrapper .bx-pager {
    float: left;
    width: auto;
    left: 30px;
    bottom: 10px;
    text-align: left;
    }
.tech .ProfBox .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.tech .ProfBox .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.tech .ProfBox .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #5a9f37 !important;
    }

/**/
.tech .ProfBoxB li {
    float: left;
    width: 274px;
    height: 234px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.tech .ProfBoxB li:nth-child(5),
.tech .ProfBoxB li:first-child {
    margin-left: 0;
}
.tech .ProfBoxB:after {
    content: "";
    display: block;
    clear: both;
}


/**/
.tech .smallTit {
    border-top:1px solid #000;
    font-size: 22px;
    color:#363636;    
    position: relative;
}
.tech .smallTit p {
    position: absolute;
    top:-15px;
    text-align:left;
    width: 100%;
}
.tech .smallTit p a {vertical-align: top; margin-left: 10px}
.tech .smallTit span {
    font-weight: 600;
    background: #fff;
    padding:0 20px 0 0;
}
.tech .smallTit strong {
    color:#ba560e;
}

.tech .will-listTit {
    margin-bottom: 15px;
    color:#181818;
}


/* Main Container : Notice : noticeTabs */
.tech .tabWrap.noticeWrap {
    height: 16px;
    border: none;
}
.tech .tabWrap.noticeWrap li {
    float: left;
    width: auto;
    height: 16px;
    margin-right: 10px;
}
.tech .tabWrap.noticeWrap li a {
    display: block;
    width: 100%;
    height: 19px;
    line-height: 19px;
    font-size: 17px;
    color: #c5c5c5;
    text-align: center;
    letter-spacing: 0;
    border:none !important;
    border-right:1px solid #999 !important;
    padding-right: 10px;
}
.tech .tabWrap.noticeWrap li a.on {
    height: 19px;
    line-height: 19px;
    font-weight: 600;
    color: #6faf4e;
    border:none !important;
    border-right:1px solid #999 !important;
}
.tech .tabWrap.noticeWrap li:last-child a.on,
.tech .tabWrap.noticeWrap li:last-child a {
    border-right:none !important;
}
.tech .tabBox.noticeBox a.btn-add {
    position: absolute;
    top: -16px;
    right: 0;
}
.tech .tabBox.noticeBox .List-Table {
    width: 520px;
}
.tech .tabBox.noticeBox .List-Table li {
    position: relative;
    font-size: 13px;
    color: #3a3a3a;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e3e3e3;
}
.tech .tabBox.noticeBox .List-Table li a {
    display: inline-block;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}
.tech .tabBox.noticeBox .List-Table li a span {
    background: #6faf4e;
    color:#fff;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 5px;
}


/* Main Container : Gosi */
.tech .tx-color {
    color: #6faf4e;
}