/*********************************************     Main Container : Main     *********************************************/

/*ver2*/
.main .tx-color {
    color: #009ef5;
}
.mainV2 .will-Tit {
    font-size: 18px !important;
}
.mainV2 .gateSearch {width:820px !important; height:100px; margin:50px auto 0;}
.mainV2 .gateSearch input[type=search] {border:2px solid #0396cf; width:620px; height:44px; line-height: 44px; color:#ccc; font-size:14px; float: left; padding-left:10px}
.mainV2 .gateSearch input:focus {border:2px solid #0396cf !important; color:#333}
.mainV2 .gateSearch button {width:180px; height:50px; font-size:0; text-indent: -9999px; float: left;
    background:#0396cf url("../../img/willbes/main/gate_seargh.png") no-repeat center center; 
    vertical-align:top; display: inline-block; position: absolute; z-index: 1;
}
.mainV2 .gateSearch:after {content: ""; display: block; clear: both;}

.mainV2 .Area1 .addList { width:980px; margin: 0 auto; text-align:center;}
.mainV2 .Area1 .addList li {display: inline; float: left; font-size: 14px; position: relative;}
.mainV2 .Area1 .addList a {display:block; width: 124px; text-align: center; background: #fff; border:1px solid #0396cf; height: 36px; line-height: 36px; 
    margin-bottom: 10px; margin-right:10px; border-radius: 10px;}
.mainV2 .Area1 .addList a.blank {background: #f9f9f9; border:1px #ccc dashed;}
.mainV2 .Area1 .addList li:first-child a {background: #e6e6e6; font-weight: bold; width: 36px;; height: 36px; line-height: 36px; border-radius: 18px; font-size: 20px; background: #0396cf; color:#fff}
.mainV2 .Area1 .addList li:first-child a:hover,
.mainV2 .Area1 .addList a:hover {background: #000; color:#fff; border-color:#000}
.mainV2 .Area1 .addList li:last-child a {margin-right:0}
.mainV2 .Area1 .addList li span {display:none; position: absolute; width:24px; height: 24px; line-height: 24px; text-align: center; top:6px; right:14px; 
    border-radius: 13px; color:#000; background: #fff; z-index: 5;}
.mainV2 .Area1 .addList li:hover span {display:block; color:#fff; background: #0396cf;}
.mainV2 .Area1 .addList:after {content: ""; display: block; clear:both}

.gate-add-popup .willbes-Layer-CartBox {height:auto;}
.gate-add-popup .Layer-Tit {background: #333; text-align: center; color:#fff; height: 50px !important; line-height: 50px !important; font-weight: 900;}
.gate-add-popup .gate-add-cts {overflow-y:scroll !important; padding:30px; height: 430px;}
.gate-add-popup .gate-add-cts h5 {font-size:16px; font-weight: 900; margin-bottom: 10px;}
.gate-add-popup .gate-add-cts ul {margin-bottom:20px}
.gate-add-popup .gate-add-cts li {display: inline; float:left; width: 25%;}
.gate-add-popup .gate-add-cts li a {display: block; border:1px solid #d0d0d0; text-align: center; height: 32px; line-height: 32px; margin-bottom:5px; margin-right:5px}
.gate-add-popup .gate-add-cts li a:hover,
.gate-add-popup .gate-add-cts li a.active {color:#fff; background:#0396cf; border:1px solid #0396cf;}
.gate-add-popup .gate-add-cts ul:after {content: ""; display: block; clear:both} 
.gate-add-popup .addBtn {width: 180px; margin:30px auto}
.gate-add-popup .addBtn a {display: block; color:#fff; background:#0396cf; text-align: center; height: 40px; line-height: 40px; font-size: 18px; font-weight: 900;}


.mainV2 .bar-banner {overflow: hidden; width: 900px; height: 90px; margin:0 auto}
.mainV2 .bar-banner .bx-wrapper .bx-pager {
    float: right;
    width: auto;
    right: 8px;
    bottom: 8px;
    text-align: right;
}
.mainV2 .bar-banner .bx-wrapper .bx-pager {
    bottom: inherit;
    top: 8px;
    padding-top: 0;
}
.mainV2 .bar-banner .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    width: 8px;
    height: 8px;
    margin: 0 2px;
}
.mainV2 .bar-banner .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.mainV2 .bar-banner .bx-wrapper .bx-pager.bx-default-pager a.active,
.mainV2 .bar-banner .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #ffda38;
    width: 30px;
}
.mainV2 .bar-banner .bx-wrapper .bx-pager.bx-default-pager a {
    background: #acacac;
}

.mainV2 .Area2 tr {border-bottom:1px solid #cecece}
.mainV2 .Area2 th { background: #f2f2f2; font-size: 18px; padding:24px 0; text-align: center; font-weight: bold;}
.mainV2 .Area2 td {padding:0 10px}
.mainV2 .Area2 td a {display: inline-block; font-size:16px; margin-right:40px; color:#747474}
.mainV2 .Area2 td a:hover {color:#000;}
.mainV2 .Area2 td a:last-child {margin-right:0}
.mainV2 .Area2 td a img {vertical-align: top;}

/* Main Container : Act2 */
.mainV2 .Area3 .sliderDayList {
    background: #f2f5f9;
}
.mainV2 .Area3 span {
    display: inline-block;
}
.mainV2 .Area3 li {
    border-bottom:1px solid #b9bbbe;  
    padding:0 30px;
}
.mainV2 .Area3 li:last-child {border-bottom:0}
.mainV2 .Area3 .dDayBox {
    display: inline;
    float: left;    
    width: 25%;
    overflow: hidden;   
    padding:20px 0;  
    color: #009ef5;     
}
.mainV2 .Area3 .dDayBox a {
    display: block;
    border-right: 1px solid #e2e2e2;    
    padding: 20px 0 20px 30px;
    cursor: default;  
    }
.mainV2 .Area3 .dDayBox:nth-child(1),
.mainV2 .Area3 .dDayBox:nth-child(2),
.mainV2 .Area3 .dDayBox:nth-child(3),
.mainV2 .Area3 .dDayBox:nth-child(4) {border-top:0}
.mainV2 .Area3 .dDayBox:nth-child(4n+4) a {
    border-right: none;
}
.mainV2 .Area3 .dTit {
    font-size: 14px;
    color: #464646;
    line-height: 20px;
    text-align: left;
}
.mainV2 .Area3 .dTit .w-date {
    font-size: 12px;
}
.mainV2 .Area3 .dDay {
    font-size: 27px;
    font-weight: 600;
    padding: 0 15px 0 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainV2 .Area3 .line {
    background: #e2e2e2;
    text-indent: -9999px;
}
.mainV2 .Area3 .sliderDayList li:after {content: ""; display: block; clear:both}



.mainV2 .Area4 .NowWillbes {
    float: left;
    width: 550px;
}
.mainV2 .Area4 .NowWillbes .will-Tit {position: relative;}
.mainV2 .Area4 .NowWillbes .will-Tit a {display: inline-block; float: right; border:1px solid #000; text-align: center;
    height: 23px; width: 23px; line-height:23px ;}
.mainV2 .Area4 .NowWillbes li {
    line-height: 30px; font-size: 13px; list-style: disc inside;
}
.mainV2 .Area4 .NowWillbes li a {
    width: 100%;
}
.mainV2 .Area4 .NowWillbes span {
    display: inline-block;
}
.mainV2 .Area4 .NowWillbes .w-tit {
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mainV2 .Area4 .NowWillbes .w-new {font-size: 10px; padding:3px 5px; background: #009ef5; color:#fff; display: inline; border-radius: 4px; margin-left:5px}
.mainV2 .Area4 .NowWillbes .w-date {
    width: 90px;
    text-align: center;
    float: right;
    color:#999;
}
.mainV2 .Area4 .WhyWillbes {
    float: right;
    width: 556px;
}
.mainV2 .Area4 .WhyWillbes div div:first-child {margin-bottom:10px}
.mainV2 .Area4 .NowWillbes li:after,
.mainV2 .Area4 dl:after {content: ""; display: block; clear: both;}


.mainV2 .Area5 .acadList li {display:inline; float:left; width: 40%; font-size: 14px;; margin-bottom:10px}
.mainV2 .Area5 .acadList li:nth-of-type(even) {width:60%;}
.mainV2 .Area5 .acadList li strong { width: 120px; display: inline-block; text-align: center; font-weight: bold; border:1px solid #009ef5; 
    height: 30px; line-height: 30px; margin-right:15px}
.mainV2 .Area5 .acadList li a {display: inline-block;}
.mainV2 .Area5 .acadList li span {padding:0 10px; color:#ccc}
.mainV2 .Area5 .acadList ul:after {content: ""; display: block; clear: both;}

.mainV2 .Area5 .imgBox {
    margin-top:20px;
}
.mainV2 .Area5 .imgBox li {
    display: inline;float: left;width: 50%;
}
.mainV2 .Area5 .imgBox li a { display: block; text-align: center; border:1px solid #ccc}
.mainV2 .Area5 .imgBox li:last-child a {border-left:0}
.mainV2 .Area5 .imgBox ul:after {content: ""; display: block; clear: both;}


.mainV2 .Area6 .will-Tit {margin-bottom: 0;}
.mainV2 .Area6 .CScenterBox {
    background: #fbfbfb;
    padding: 30px 0 30px 90px;
    border:1px solid #e3e3e3; border-top:0;    
}
.mainV2 .Area6 .CScenterBox li {display: inline; float: left; font-size: 18px; line-height:32px;}
.mainV2 .Area6 .CScenterBox li span {vertical-align: top; color:#ff0000} 
.mainV2 .Area6 .CScenterBox li:last-child span {color:#009ef5}
.mainV2 .Area6 .CScenterBox li strong {font-size: 32px; vertical-align: bottom; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-right:30px; color:#009ef5}
.mainV2 .Area6 .CScenterBox ul:after {content: ""; display: block; clear: both;}

.njobBn {
    width:100%; bottom:0; position: fixed; left:50%; margin-left:-1000px; text-align: center; z-index: 100;
}