/*********************************************     Main Container : Cop_sea     *********************************************/
/* Main Container : Cop_sea */
.sea .tx-color {
    color: #9177d4;
}
.Section2 { background: #f7f7f7}

/* Main Container : Tit : Cop_sea */
.sea .smallTit {
    border-top:1px solid #b8b8b8;
    font-size: 22px;
    color:#363636;    
    position: relative;
}
.sea .smallTit p {
    position: absolute;
    top:-15px;
    text-align: center;
    width: 100%;
}
.sea .smallTit span {
    padding:0 20px;
    font-weight: 600;
    background: #fff;
}
.sea .smallTit strong {
    color:#9177d4;
}

.sea .smallTit a {
    position: absolute;
    width: 23px;
    top:-12px;
    right:0;    
    z-index: 1;
}
.sea .smallTit2 span {
    background:#f7f7f7;
}
.sea .Section .will-big-Tit .cop-color {
    color: #9177d4;
}

/**/
.sea .Section .bnrSec01 div {
    float: left;
    width: 756px;
    height: 292px;
    overflow: hidden;
}
.sea .Section .bnrSec01 ul {
    float: right;
}
.sea .Section .bnrSec01 ul li {
    margin-bottom:4px;
}
.sea .Section .bnrSec01 ul li:last-child {
    margin:0
}
.sea .Section .bnrSec01:after {
    content:'';
    display: block;
    clear:both;
}

/**/
.sea .Section .bnrSec02 div {
    margin-bottom:10px
}
.sea .Section .bnrSec02 div:last-child {
    margin:0
}

/* Main Container : Prof : Cop_sea */
.sea .Section .ProfCopBox > li {
    position: relative;
    display: inline;
    float: left;
    width: 159px;
    height: 280px;
    margin-left: 1px;
}
.sea .Section .ProfCopBox > li:first-child {
    margin-left: 0;
}
.sea .Section .ProfCopBox .ProfBtns {
    position: absolute;
    width: 159px;
    bottom: 0;
    left: 0;    
    z-index: 1;
}
.sea .Section .ProfCopBox .ProfBtns li {    
    display: inline;
    float: left;
    width: 50%;   
    height: 40px;
    height: 40px;          
}
.sea .Section .ProfCopBox .ProfBtns li a {    
    display: block;
    line-height: 40px;    
    color:#fff;
    text-align: center;
    margin-left: 1px; 
    background: rgba(0,0,0,.5); 
}
.sea .Section .ProfCopBox .ProfBtns li:first-child a {
    margin-left: 0;
}
.sea .Section .ProfCopBox .ProfBtns li a:hover {
    background:#9177d4;
    font-size: 14px;
}
.sea .Section .ProfCopBox .ProfBtns li span {
    padding-left:10px;
}
.sea .Section .ProfCopBox .ProfBtns:after,
.sea .Section .ProfCopBox:after {
    content: '';
    display: block;
    clear: both;
}

/* Main Container : SpecialLecBox */
.sea .Section .SpecialLecBox .infoTit .btn .btn-sbj a {
    background: #9177d4;
}
.sea .Section .SpecialLecBox .infoList .List-Table li a span {
    float: left;
    width: 130px;
    color: #9177d4;
    text-align: center;
}

/* Main Container : Notice : Cop_sea */
.sea .Section .nNoticeBox .infoBox .infoTit {
    color: #9177d4;
    line-height: 20px;
    font-weight: 600;
}

.sea .willbesNumber ul li {
    margin-left: 100px;
}
.sea .willbesNumber ul li:first-child {
    margin-left: 50px;
}