/*********************************************     Main Container : Gosi     *********************************************/
.gosi .Depth .depth:last-child strong {
    color: #ba560e;
}

/* Main Container : MainVisual */
.MainVisual:after {
    content: "";
    display: block;
    clear: both;
}
.MainVisual .will-Tit {
    border-bottom: 0;
    margin-top:0;
    padding-top: 35px;
}
.VisualBox {
    float: left;
    width: 714px;
    height: 300px;
    overflow: hidden;
}
.VisualBox .MaintabList {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
}
.VisualBox .MaintabList ul li {
    background: #282828;
    display: inline-block; 
    height: 35px;
    font-size: 14px;
    color: #fff;
    line-height: 35px;
    margin:0 1px;
}
.VisualBox .MaintabList.three ul li {
    width: 209px;
}
.VisualBox .MaintabList.four ul li {
    width: 156px;
}
.VisualBox .MaintabList ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.VisualBox .MaintabList ul li:last-child {
    margin:0;
}
.VisualBox .MaintabList ul li a.active {
    background: #c9c9c9;
    color: #0a0a0a;
}
.VisualsubBox {
    float: right;
    width: 394px;
    height: 300px;
    overflow: hidden;
}
.VisualsubBox .bx-wrapper .bx-controls-auto {
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0;
    z-index: 90;
  }
.VisualList {
    float: left;
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.VisualList:after {
    content: "";
    display: block;
    clear: both;
}
.VisualList ul li {
    float: left;
    border-right: 1px solid #ebebeb;
}
.VisualList ul li:first-child {
    border-left: 1px solid #ebebeb;
}

/* Main Container : Prof */
.gosi .Section .ProfBox li {
    float: left;
    width: 216px;
    height: 237px;
    margin-left: 10px;
}
.gosi .Section .ProfBox li:first-child {
    margin-left: 0;
}

.gosi .Section .ProfBox:after {
    content: "";
    display: block;
    clear: both;
}

/**/
.gosi .Section .willbesLec {
    width:614px;
}
.gosi .smallTit {
    border-top:1px solid #b8b8b8;
    font-size: 22px;
    color:#363636;    
    position: relative;
}
.gosi .smallTit p {
    position: absolute;
    top:-15px;
    text-align:left;
    width: 100%;
}
.gosi .smallTit span {
    font-weight: 600;
    background: #fff;
    padding:0 20px 0 0;
}
.gosi .smallTit strong {
    color:#ba560e;
}

.gosi .will-listTit {
    margin-bottom: 15px;
    color:#181818;
}

.bestLectBx {position: relative;}
.bestLectBx .prof-subject {
    background: #ececec;  
    width: 100%;
    height: 30px;
    overflow: hidden;
}
.bestLectBx .prof-subject li {
    display: inline; float: left;
}

.bestLectBx .bx-wrapper{left:0}
.prof-subject li{text-align:center;}
.prof-subject li a{
    display:block;
    overflow:hidden;
    width:75px;
    height:30px;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align:middle;
    line-height:30px;
    text-align:center;
    font-size: 14px;
}
.prof-subject li a:hover, 
.prof-subject li a.active{color:#c7763c;}
.prof-subjec:after {
    content:""; display: block; clear:both;
}
.bestLectBx .bx-controls-direction a.bx-prev{left:0}
.bestLectBx .bx-controls-direction a.bx-next{right:0}
.prof-professors .bx-wrapper{left:0;}
.prof-professors .bx-viewport{margin:0}
.prof-professors .bx-controls{display:none}
.bestLectBx .bx-controls-direction {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
}
.bestLectBx .bx-controls-direction a {
    width: 35px;
    height: 45px;
}
.bestLectBx .bx-controls-direction a.disabled {
    display: block;
    opacity: 0.5;
}
.bestLectBx .bx-prev {
    background: url("../../img/willbes/gosi/guide/guide_prev.png") no-repeat 0 0;
    left: -45px;
    right: inherit;
}
.bestLectBx .bx-next {
    background: url("../../img/willbes/gosi/guide/guide_next.png") no-repeat 0 0;
    left: inherit;
    right: -45px;
}

.prof-professors {clear:both; margin-top:40px;}
.prof-slider {width:614px; height:120px; overflow:hidden;}
.prof-slider li {position:relative; display:inline; float:left; height:120px; width:50%}
.prof-slider li img {position:absolute; width:120px; height:120px}
.prof-slider li span {position:absolute; left:138px; width:150px}
.prof-slider li span.txt1 {top:0; color:#3a3a3a; font-size:17px}
.prof-slider li span.txt2 {top:22px; color:#ba560e; font-size:22px; font-weight:bold;}
.prof-slider li span.txt3 {top:50px; color:#666; font-size: 14px; line-height: 1.4}
.prof-slider li > a {position:absolute; left:138px; bottom:0; border:1px solid #c9c9c9; display: inline; padding:3px 5px; color:#898989}
.prof-slider:after {
    content:""; display: block; clear:both;
}

/* Main Container : Gosi */
.gosi .tx-color {
    color: #ba560e;
}
.gosi .Menu .menu-List li.Acad a {
    background: url("../../img/willbes/gosi/icon_acad.gif") no-repeat 0 0;
    color: #ba560e;
}
.gosi .Menu .menu-List li.Acad a .arrow-Btn {
    background: url("../../img/willbes/gosi/icon_arrow.gif") no-repeat 0 0;
}
.gosi .Section3 {
    background: #f8f8f8;
    padding-bottom:90px;
}
.gosi .List-Table li a img,
.gosi .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.gosi .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.gosi .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus,
.gosi .bSlider.blueSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.gosi .bSlider.blueSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.gosi .bSlider.blueSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #ba560e;
}
.gosi .Section .SpecialBox li {
    display: inline; float: left;
    width: 216px; height: 143px;
    margin-right:10px; margin-bottom:10px;
}
.gosi .Section .SpecialBox li:nth-child(5),
.gosi .Section .SpecialBox li:last-child {
    margin-right:0}
}
.gosi .Section .SpecialBox ul:after {
    content:''; display: block; clear:both}
}

/* Main Container : QuickMenu : Gosi */
.gosi .QuickDdayBox .q_dday {
    font-size: 24px;
    font-weight: 600;
    color: #ba560e;
    padding-top: 10px;
    letter-spacing: 0;
}
.gosi .QuickSlider .sliderNum {
    width: 100px;
    height: 192px;
    overflow: hidden;
}

/* Guide Container : Gosi */
/*수험가이드*/
.tabShow.tab_gosi_Guide {
    background: #026f61;
    height: 62px;
    border-bottom: none;
}
.tabShow.tab_gosi_Guide li {
    width: 12.5%;
    height: 62px;
    padding: 0 8px;
}
.tabShow.tab_gosi_Guide li a.two,
.tabShow.tab_gosi_Guide li a.on.two {
    line-height: 17px;
}
.tabShow.tab_gosi_Guide li a.two span {
    padding-top: 15px;
    display: inline-block;
}
.tabShow.tab_gosi_Guide li a.on.two span {
    line-height: 17px;
    padding-top: 10px;
}
.tabShow.tab_gosi_Guide li a.on span {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    color: #026f61;
    display: inline-block;
    height: 54px;
    line-height: 52px;
    border-top: 1px solid #026f61;
    border-left: 1px solid #026f61;
    border-right: 1px solid #026f61;
}
.tabShow.tab_gosi_Guide li a,
.tabShow.tab_gosi_Guide li a.on {
    background: #026f61;
    color: #fff;
    line-height: 58px;
    font-size: 14px;
    font-weight: 300;
    height: 62px;
    border: none;
}
.tabShow.tab_gosi_Guide li:first-child a,
.tabShow.tab_gosi_Guide li:first-child a.on {
    border: none;
}

.w-gosi-Guide {letter-spacing: 0}
.w-gosi-Guide .examInfoGu2 .hTy4 {background: url("../../img/willbes/gosi/guide/left_arrow.png") no-repeat 0 center; font-family: "NanumGothic-Bold", "Nanum Gothic", "나눔고딕", "sans-serif"; margin: 30px 0 10px; font-size:16px; font-weight:bold; color: #24606a; line-height: 30px; padding-left: 25px;}

.examInfoGu3 {padding: 35px 45px 55px}
.examInfoGu3 .hTy {font-family: "NanumGothic-Bold", "Nanum Gothic", "나눔고딕", "sans-serif"}
.examInfoGu3 .hTy.txt-gray {font-size: 14px; font-weight:bold; color: #555; line-height: 18px}
.examInfoGu3 .hTy.txt-red {font-size: 14px; font-weight:bold; color: #d52b2b; line-height: 18px}
.examInfoGu3 .hTy4 {width: 786px; margin: 0 auto 20px; font-size:16px; font-weight:bold; color: #026f61; line-height: 30px}

.examInfoGu3 .hTy5 {width: 786px; margin: 0 auto 15px}
.examInfoGu3 .hTy5 span {font-size: 13px}

.examInfoGu3 .hTy6.center {margin: 15px 60px 0; font-size:13px}
.examInfoGu3 .hTy6.right {margin: 0 0 5px; text-align: right;}
.examInfoGu3 .hTy6.right span {font-size: 13px}
.examInfoGu3 .hTy6.left span {margin: 5px 0 0; text-align: left; font-size: 12px}

.sliderGuide .bx-wrapper .bx-viewport {
    z-index: 10;
}
.sliderGuide .bx-wrapper .bx-controls-direction {
    width: 100%;
    height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
}
.sliderGuide .bx-wrapper .bx-controls-direction a {
    width: 35px;
    height: 45px;
}
.sliderGuide .bx-wrapper .bx-controls-direction a.disabled {
    display: block;
    opacity: 0.5;
}
.sliderGuide .bx-wrapper .bx-prev {
    background: url("../../img/willbes/gosi/guide/guide_prev.png") no-repeat 0 0;
    left: -45px;
    right: inherit;
}
.sliderGuide .bx-wrapper .bx-next {
    background: url("../../img/willbes/gosi/guide/guide_next.png") no-repeat 0 0;
    left: inherit;
    right: -45px;
}
.sliderGuide .bx-wrapper .bx-pager {
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    bottom: -40px;
}

.guide_slider {
    width: 848px !important;
}
.basicWd {
    width:786px;
    margin: 0 auto;
}
.basicWd1 tr td {
    padding: 20px;
}
.basicWd .txtL ul li {margin-bottom:5px;padding-left:8px;background: url("../../img/willbes/cop/guide/dot_sq3.gif") no-repeat 0 6px}

.mgBox {
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    padding: 25px 30px;
    width: 786px;
    margin: 20px auto 0;
}
.mgBox-none {
    background: none;
    border: none;
}
.mgBox .tt {
    background: url("../../img/willbes/gosi/guide/right_arrow.png") no-repeat 0 6px;
    font-size: 16px;
    font-weight: 600;
    color: #232323;
    padding-left: 12px;
    margin-bottom: 10px;
}
.mgBox .st {
    margin-bottom: 5px;
}
.mgBox .ttx {
    font-size: 13px;
    font-weight: 600;
    color: #4d4d4d;
}
.mgBox ul li {
    margin-top: 15px;
    padding-left: 10px;
    background: url("../../img/willbes/cop/guide/dot_sq3.gif") no-repeat 0 7px;
}
.mgBox dl dt {
    background: url("../../img/willbes/cop/guide/dot_sq3.gif") no-repeat 0 7px;
    padding-left: 10px;
}
.mgBox ul li:first-child {
    margin-top: 0;
}
.mgBox_no {
    border: 1px solid #dbdbdb;
    padding: 40px 60px;
    width: 786px;
    margin: 20px auto 0;
}
.mgBox span {
    vertical-align: baseline;
}
ul.dot li {
    margin-top: 15px;
    padding-left: 10px;
    background: url("../../img/willbes/cop/guide/dot_sq3.gif") no-repeat 0 7px;
}

.tableBox tr th {
    font-size: 21px;
    font-weight: 600;
    color: #243553;
    border-right: 1px solid #bfbfbf;
}
.tableBox tr td {
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 25px 0;
}
.tableBox tr.hh td {
    border: none;
    height: 25px;
}

.tabWrap.tab_gosi_success_Guide {
    height: 67px;
    border: 1px solid #24606a;
}
.tabWrap.tab_gosi_success_Guide li {
    width: 50%;
    height: 65px;
}
.tabWrap.tab_gosi_success_Guide li a {
    background: #fff;
    color: #24606a;
}
.tabWrap.tab_gosi_success_Guide li a.on {
    background: #24606a;
    color: #fff;
}
.tabWrap.tab_gosi_success_Guide li a,
.tabWrap.tab_gosi_success_Guide li a.on {
    font-size: 20px;
    font-weight: 600;
    line-height: 63px;
    height: 65px;
    border: none;
}
.tabWrap.tab_gosi_success_Guide a.on:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 66px;
    left: 50%;
    margin-left: -5px;
    border-color: #24606a transparent transparent;
    border-width: 10px;
}
.tabWrap.tab_gosi_scuuess_list_Guide {
    float: left;
    height: 35px;
    border-bottom: none;
    clear: both;
}
.tabWrap.tab_gosi_scuuess_list_Guide li {
    height: 35px;
}
.tabWrap.tab_gosi_scuuess_list_Guide li a {
    color: #24606a;
}
.tabWrap.tab_gosi_scuuess_list_Guide li a.on {
    color: #8f724d;
}
.tabWrap.tab_gosi_scuuess_list_Guide li a,
.tabWrap.tab_gosi_scuuess_list_Guide li a.on {
    background: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 33px;
    height: 35px;
    border: none;
}
.tabWrap.tab_gosi_scuuess_list_Guide li:first-child a,
.tabWrap.tab_gosi_scuuess_list_Guide li:first-child a.on {
    border: none;
}
.tabWrap.tab_gosi_scuuess_list_Guide .row-line {
    float: right;
    background: #b7b7b7;
    width: 1px;
    height: 16px;
    margin: 11px 0;
}