/* top bar banner */
.job .topBanner {display:block; background:#ececec; width:100%; text-align:center}
.job .topBanner p {width:100%; max-width:1120px; margin:0 auto}
.job .topBanner p img {width:100%}

/*********************************************     Main Container : cert     *********************************************/
/* Main Container : MainVisual */
.job .Section .bnrSec01 li {
    display: inline;
    float: left;   
    width: 556px;
    height: 292px;  
    overflow: hidden; 
}
.job .Section .bnrSec01 li:last-child {margin-left:8px}
.job .Section .bnrSec01:after {
    content:'';
    display: block;
    clear:both;
}

/**/
.job .Section .bnrSec02 li {
    display: inline;
    float: left;
    margin-right: 8px;    
}
.job .Section .bnrSec02 li:last-child {
    margin:0
}
.job .Section .bnrSec01:after {
    content:'';
    display: block;
    clear:both;
}

/* Main Container : Prof */
.job .ProfBox .PBtab li {
    display: inline;
    float: left;
    width: 50%;
}
.job .ProfBox .PBtab li a {
    display: block;
    text-align: center;
    font-size: 22px;
    color:#b9b9b9;
    height: 54px;
    line-height: 54px;
    border:1px solid #b9b9b9;
    border-bottom:1px solid #5756a2;
}
.job .ProfBox .PBtab li a.active {
    color:#5756a2;
    border:1px solid #5756a2;
    border-bottom:1px solid #fff;
    font-weight: 600;
}
.job .ProfBox .PBtab:after {
    content: "";
    display: block;
    clear: both;
}

.job .tipPopup {position: absolute; left:50%; top:20px; z-index: 1; display:none}

.job .Section3 {background:#242b35}
.job .Section3 .curriBox {position:absolute; left:50%; top:500px; margin-left:100px; z-index:10;}
.job .Section3 .curriBox h4 {color:#b7b7b7; font-size:18px; font-weight: bold; margin-bottom:20px}
.job .Section3 .curriBox ul {float:left}
.job .Section3 .curriBox ul li a {display:block; height: 100px; line-height: 100px; text-align:center; margin-bottom:3px; font-size:16px; color:#242b35; background:#63686f;
    border-radius:10px 0 0 10px; width: 98px; font-weight: bold;
}
.job .Section3 .curriBox ul li a:hover,
.job .Section3 .curriBox ul li a.active {background: #fff}
.job .Section3 .curriBox .curri {background:#fff; padding:20px; float:left; font-size:14px; width:300px; height: 203px; line-height: 1.4}
.job .Section3 .curriBox .curri li {list-style-type: disc; margin-left:15px; margin-bottom:10px}
.job .Section3 .curriBox .curri li:last-child {margin-bottom:0}
.job .Section3 span.txt01 {position:absolute; left:50%; top:325px; margin-left:350px; z-index:10;}
.job .Section3 span.prof {position:absolute; left:28px; top:253px; border:2px solid #000; z-index:10;}
.job .Section3 span.txt02 {position:absolute; left:50%; top:325px; margin-left:420px; z-index:10;}

/* Main Container : Notice : noticeTabs */
.job .tabWrap.noticeWrap {
    height: 16px;
    border: none;
}
.job .tabWrap.noticeWrap li {
    float: left;
    width: auto;
    height: 16px;
    margin-right: 10px;
}
.job .tabWrap.noticeWrap li a {
    display: block;
    width: 100%;
    height: 19px;
    line-height: 19px;
    font-size: 17px;
    color: #c5c5c5;
    text-align: center;
    letter-spacing: 0;
    border:none !important;
    border-right:1px solid #999 !important;
    padding-right: 10px;
}
.job .tabWrap.noticeWrap li a.on {
    height: 19px;
    line-height: 19px;
    font-weight: 600;
    color: #643fb5;
    border:none !important;
    border-right:1px solid #999 !important;
}
.job .tabWrap.noticeWrap li:last-child a.on,
.job .tabWrap.noticeWrap li:last-child a {
    border-right:none !important;
}
.job .tabBox.noticeBox a.btn-add {
    position: absolute;
    top: -16px;
    right: 0;
}
.job .tabBox.noticeBox .List-Table {
    width: 520px;
}
.job .tabBox.noticeBox .List-Table li {
    position: relative;
    font-size: 13px;
    color: #3a3a3a;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e3e3e3;
}
.job .tabBox.noticeBox .List-Table li a {
    display: inline-block;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}
.job .tabBox.noticeBox .List-Table li a span {
    background: #643fb5;
    color:#fff;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 5px;
}


/* Main Container : Gosi */
.job .tx-color {
    color: #643fb5;
}
