/*********************************************     Main Container : law     *********************************************/

.law .Depth .depth:last-child strong {
    color: #ba560e;
}

/* Main Container : Notice : noticeTabs */
.law .tabWrap.noticeWrap {
    height: 16px;
    border: none;
}
.law .tabWrap.noticeWrap li {
    float: left;
    width: auto;
    height: 16px;
    margin-right: 10px;
}
.law .tabWrap.noticeWrap li a {
    display: block;
    width: 100%;
    height: 19px;
    line-height: 19px;
    font-size: 17px;
    color: #c5c5c5;
    text-align: center;
    letter-spacing: 0;
    border:none !important;
    border-right:1px solid #999 !important;
    padding-right: 10px;
}
.law .tabWrap.noticeWrap li a.on {
    height: 19px;
    line-height: 19px;
    font-weight: 600;
    color: #643fb5;
    border:none !important;
    border-right:1px solid #999 !important;
}
.law .tabWrap.noticeWrap li:last-child a.on,
.law .tabWrap.noticeWrap li:last-child a {
    border-right:none !important;
}
.law .tabBox.noticeBox a.btn-add {
    position: absolute;
    top: -16px;
    right: 0;
}
.law .tabBox.noticeBox .List-Table {
    width: 520px;
}
.law .tabBox.noticeBox .List-Table li {
    position: relative;
    font-size: 13px;
    color: #3a3a3a;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e3e3e3;
}
.law .tabBox.noticeBox .List-Table li a {
    display: inline-block;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}
.law .tabBox.noticeBox .List-Table li a span {
    background: #643fb5;
    color:#fff;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 5px;
}


/* Main Container : Gosi */
.law .tx-color {
    color: #643fb5;
}

.law-bn01 {margin:20px auto 0;}
.law-bn01 ul {margin-right:-15px}
.law-bn01 li {display:inline; float:left; width:260px; margin-right:15px}
.law-bn01 li:first-child {width:570px;}
.law-bn01 li .slider {height:380px; overflow:hidden;}
.law-bn01 li:last-child .slider {height:185px; overflow:hidden;}
.law-bn01 ul:after {content: ""; display: block; clear:both}
.law-bn01 .bSlider .slider div a {display:block;}

.law-bn01 .bSlider .bx-wrapper .bx-controls-direction a {width: 20px; height: 20px;}
.law-bn01 .bSlider .bx-wrapper .bx-pager {
    position: absolute;
    top: -10px;
    right: 10px;
}
.law .bSlider .bx-wrapper .bx-pager.bx-default-pager a {background: #d9d9d9;}
.law .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.law .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.law .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {background: #353535 !important;}
.law-bn02 {width:1120px; height:260px; overflow:hidden; margin:40px auto 0}
.law .willbesNews {width:1120px; margin:40px auto 0}
.law .willbesNews .noticeTabs {width:340px; margin:0; float:left; margin-right:50px}
.law .willbesNews .noticeTabs:last-child {margin-right:0}
.law .willbesNews .List-Table {padding:0; width:100% !important;}
.law .Section3 {background:url("https://static.willbes.net/public/images/promotion/main/2003/3035_sec04_bg.jpg") no-repeat center top; margin-top:100px}
.law .Section3 .tipGo {position: absolute; width: 994px; top:700px; left:50%; margin-left:-497px;}
.law .Section3 .tipGo li {display: inline; float: left; width: 142px;}
.law .Section3 .tipGo li a {
    display: block; text-align: center; color:#333; background: #f4f4f4; height: 26px; line-height: 26px; width: 90px; margin: 0 auto; border-radius:4px; font-weight:bold;}
.law .Section3 .tipGo li a:hover {background: #000; color:#fff}
.law .Section5 {background:url("https://static.willbes.net/public/images/promotion/main/2003/3035_sec05_bg.jpg") repeat-x left top;}
.law .Section6 {background:#f7f7f7}
.law .Section7 {}
.law .will-nTit {border:0; font-size:46px; text-align:center}
.law .will-nTit span {vertical-align:baseline}
.law .will-sTit {font-size:28px; text-align:center; margin-bottom:20px}
.law .Section8 {margin:40px 0}
.law .will-acadTit {font-size: 19px; font-weight: 600; color: #363636; line-height: 60px; border-bottom:2px solid #000; margin-bottom:20px}
.law .will-acadTit span {vertical-align: baseline;}

.law .will-listTit {
    margin-bottom: 15px;
    color:#181818;
}

/**/
.law .ProfBoxB li {
    float: left;
    width: 274px;
    height: 192px;
    margin-left: 8px;
    margin-bottom: 8px;
}
.law .ProfBoxB li:nth-child(5),
.law .ProfBoxB li:first-child {
    margin-left: 0;
}
.law .ProfBoxB:after {
    content: "";
    display: block;
    clear: both;
}