/* top bar banner */
.cop2008v2 .topBanner {display:block; background:#ececec; width:100%; text-align:center}
.cop2008v2 .topBanner p {width:100%; max-width:1120px; margin:0 auto}
.cop2008v2 .topBanner p img {width:100%}

.cop2008v2 .menu-List .Tit {color: #9177d4;}
.cop2008v2 .Menu .menu-List li.job > a {
    color: #9177d4;
    display:inline-block;
    vertical-align: middle;
}
.cop2008v2 .menu-List li.cop2008 > a {
    background: url("../../public/img/willbes/sub/icon_acad.gif") no-repeat left center;
    font-size: 16px;
    color: #0c5dc0;
    padding-left: 26px;
    display:inline-block;
    vertical-align: middle;
}

.cop2008v2 .menu-List li.cop2008 > a .arrow-Btn {
    background: url("../../public/img/willbes/sub/icon_arrow.gif") no-repeat left center;
    float: right;
    width: 4px;
    height: 8px;
    margin: 15px 5px 0;
}

/*********************************************     Main Container     *********************************************/
.cop2008v2 .Depth .depth:last-child strong {
    color: #9177d4;
}

/* Main Container : MainVisual */
.cop2008v2 .MainVisual {
    position: relative;
    width: 1120px;
    margin:40px auto 0;
    height: 400px;
}
.cop2008v2 .MainVisual:after {
    content: "";
    display: block;
    clear: both;
}
.cop2008v2 .VisualBox {
    width:725px;
    height: 400px;
    overflow: hidden;
    float:left;
}
.cop2008v2 .VisualBox img {
    height: 400px;
}

.cop2008v2 .VisualBox .bx-wrapper .bx-controls-auto {
    left:20px;
    bottom: 20px;
    width: 50px;
    z-index: 90;
}
.cop2008v2 .VisualBox .bx-wrapper .bx-pager {
    width: auto;
    left:60px;
    bottom: 22px;
    text-align: left;
    z-index: 90;
}
.cop2008v2 .VisualBox .bx-wrapper .bx-pager.bx-default-pager a {
    background: #cecece;
}

.cop2008v2 .VisualsubBox {
    width: 384px;
    padding:10px;
    float:right;
    background: #ccc;
}

.cop2008v2 .VisualsubBox .bSlider:nth-child(2) {
    margin-top:3px;
    width: 364px;
    height: 248px !important;
    overflow: hidden;
}

.cop2008v2 .VisualsubBox .bx-wrapper .bx-controls-auto {
    left:20px;
    bottom: 20px;
    margin: 0;
    width: 50px;
    z-index: 90;
}
.cop2008v2 .VisualsubBox .bx-wrapper .bx-pager {
    float: right;
    width: auto;
    left:60px;
    bottom: 20px;
    text-align: right;
    z-index: 90;
}
.cop2008v2 .VisualsubBox .bx-wrapper .bx-pager.bx-default-pager a {
    background: #cecece;
    width: 8px;
    height: 8px;
    margin: 0 2px;
}

.cop2008v2 .VisualsubBox .VisualsubBoxTop {width: 364px; height:128px; overflow: hidden;}

.cop2008v2 .VisualsubBox .VisualsubBoxTop .bx-wrapper .bx-pager {
    float: left;
    width: auto;
    left: 20px;
    bottom: 10px;
    text-align: left;
}
.cop2008v2 .VisualsubBox .VisualsubBoxTop  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #cecece;
}
.cop2008v2 .VisualsubBox .VisualsubBoxTop .bx-wrapper .bx-pager.bx-default-pager a:hover,
.cop2008v2 .VisualsubBox .VisualsubBoxTop .bx-wrapper .bx-pager.bx-default-pager a.active,
.cop2008v2 .VisualsubBox .VisualsubBoxTop .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #9177d4 !important;
}

/**/
.cop2008v2 .will-listTit {
    margin-bottom: 15px;
    color:#181818;
}


/* Main Container : Notice : noticeTabs */
.cop2008v2 .noticeTabs {
    width: 345px !important;
    float:left;
    margin-right:40px;
}
.cop2008v2 .tabBox.noticeBox {
    margin-top:-30px;
}
.cop2008v2 .tabBox.noticeBox a.btn-add {
    position: absolute;
    top: -16px;
    right: 0;
}
.cop2008v2 .tabBox.noticeBox .List-Table {
    width: 100%;
}
.cop2008v2 .tabBox.noticeBox .List-Table li {
    position: relative;
    font-size: 13px;
    color: #3a3a3a;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e3e3e3;
}
.cop2008v2 .tabBox.noticeBox .List-Table li a {
    display: inline-block;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}
.cop2008v2 .tabBox.noticeBox .List-Table li a span {
    background: #9177d4;
    color:#fff;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 5px;
}
.cop2008v2 .willbesNumber ul li {
    margin-left: 30px;
    vertical-align: top;
}

.cop2008v2 .goMenu {background:#9177d4}

.cop2008v2 .tx-color {
    color: #9177d4 !important;
}
.cop2008v2 .tx-color2 {
    color: #c3aefa !important;
}
.cop2008v2 .Section1 {
    background: #f8f8f8;
    padding:90px 0;
}
.cop2008v2 .copyTit {
    font-size: 33px;
    color: #363636;
    line-height: 1.2;
    text-align: center;
}
.cop2008v2 .copyTit strong {
    vertical-align: baseline;
    color:#000;
}
.cop2008v2 .copyTit span {
    color:#9177d4;
    vertical-align: baseline;
}
.cop2008v2 .List-Table li a img,
.cop2008v2 .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.cop2008v2 .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.cop2008v2 .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus,
.cop2008v2 .bSlider.blueSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.cop2008v2 .bSlider.blueSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.cop2008v2 .bSlider.blueSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #9177d4;
}
.cop2008v2 .Section .SpecialBox li {
    display: inline; float: left;
    width: 216px; height: 143px;
    margin-right:10px; margin-bottom:10px;
}
.cop2008v2 .Section .SpecialBox li:nth-child(5),
.cop2008v2 .Section .SpecialBox li:last-child {
    margin-right:0;
}
.cop2008v2 .Section .SpecialBox ul:after {
    content:''; display: block; clear:both;List-Table
}

.cop2008v2 .Section4_hl .noticeTabs {
    width: 100% !important;
}

/*cast*/
.cop2008v2 .preview .cast {width:1120px; margin: 0 auto; height:265px; overflow: hidden;}
.cop2008v2 .preview .cast li {display: inline; float: left; width:33.33333%;}
.cop2008v2 .preview .cast li a {display:block; height:225px;} 
.cop2008v2 .preview .cast li div.castTitle {height:40px; line-height:40px; font-size:14px; text-align:center; 
   width:80%; overflow:hidden;white-space:nowrap; text-overflow:ellipsis; margin:0 auto}
.cop2008v2 .preview .cast:after {content: ""; display: block; clear:both}


/* Main Container : QuickMenu : Cop */
.cop2008v2 .MainQuickMenu {
    position: fixed;
    top: 110px;
    right: 20px;
    width: 160px;
    height: auto;
    z-index: 100;
    overflow: hidden;
}
.cop2008v2 .QuickSlider {width:160px; height: 100px; overflow:hidden;}
.cop2008v2 .QuickDdayBox {width:160px !important;}