/* top bar banner */
.njob .topBanner {display:block; background:#e35760;  width:100%; text-align:center}
.njob .topBanner p {width:100%; max-width:1120px; margin:0 auto}
.njob .topBanner p img {width:100%}

/*********************************************     Main Container : cert     *********************************************/     

.skybanner {
    position:fixed;
    bottom:20px;
    right:10px;
    z-index:1;
}

/* Main Container : MainVisual */

.njob2 .Section1 {height: 440px; position: relative; max-width: 2000px; margin: 0 auto;}
.njob2 .MainVisual {
    position: absolute;
    width: 100%;   
    max-width: 2000px; 
    height: 440px;
    left:50%;
    margin-left:-50%;
}
.njob2 .VisualBox {
    width:2000px;
    height: 440px;
    text-align: center !important;
    overflow: hidden;
    position: absolute; left:50%; top:50%; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}
.njob2 .VisualBox .sliderStopAutoPager img {
    min-width: 1120px;
    margin: 0 auto;
}
.njob2 .VisualBox .bx-wrapper .bx-controls-auto {
    left:50%;
    margin-left:-500px;
    top: 410px;
    width: 50px;
    z-index: 90;
}
.njob2 .VisualBox .bx-wrapper .bx-pager {
    width: auto;
    left:50%;
    margin-left:-450px;
    top: 390px;
    text-align: left;
    z-index: 90;
}
.njob2 .VisualBox .bx-wrapper .bx-pager.bx-default-pager a {
    background: #cecece;
}
.njob2 .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.njob2 .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.njob2 .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #3997f0 !important;
    z-index: 10;
}

.njob2 .will-listTi,
.njob2 .will-listTit {font-size:24px; margin-bottom:30px}

.njob2 .will-listTi span {font-size: 16px; vertical-align: middle; color:#666}

/**/
.njob2 .bestLec > li {
    display: inline;
    float: left;
    width:25%;
    margin-bottom:10px;
}
.njob2 .bestLec li ul {padding:20px 10px; font-size:15px; line-height:1.5}
.njob2 .bestLec li ul li {margin-bottom:10px}
.njob2 .bestLec li ul li:first-child {font-size:14px}
.njob2 .bestLec li ul li span {vertical-align: bottom;}
.njob2 .bestLec li ul li:last-child a {display:block; width:80px; text-align:center; color:#Fff; background:#3997f0; font-size:14px; height:24px; line-height:24px; border-radius:5px}
.njob2 .bestLec:after {
    content:'';
    display: block;
    clear:both;
}

.njob2 .Section2 {background:url(https://static.willbes.net/public/images/promotion/main/2014/3114_fullx1190_bg.gif) no-repeat center top;}
.njob2 .Section3 {background:#fff}
.njob2 .Section4 {position: relative; height: 110px;}
.njob2 .Section4 a {display: block; position:absolute; width: 2000px; left:50%; margin-left: -1000px; z-index: 1;}
.njob2 .Section5 {background:#ece5e4; padding:50px 0}
.njob2 .Section5 .will-listTi {position: absolute; top:0; left:0; z-index: 1;}
.njob2 .Section5 .slidertip .youtube {width:100%; height:315px; overflow: hidden;}
.njob2 .Section5 .slidertip .copytxt {float:left; width:560px; font-size:45px; line-height: 1.1; padding-top:50px; letter-spacing: -1px;}
.njob2 .Section5 .slidertip iframe {float:right;width:560px; height:315px}
.njob2 .Section5 .bx-wrapper .bx-pager {
    width: auto;
    left:50%;
    margin-left:-560px;
    bottom: 20px;
    text-align: left;
    z-index: 90;
}

.njob2 .tipLec li {
    display: inline;
    float: left;
    width:25%;
    text-align:center;
    font-size:15px;
}
.njob2 .tipLec li a {margin-bottom:10px; display:block}

.njob2 .bnSecbar01 .slider{height:140px; overflow:hidden}

/* Main Container : Notice : noticeTabs */
.njob2 .willbesNews {width:466px; height:297px; float:left}
.njob2 .willbesNews .will-listTit {margin-bottom:20px}
.njob2 .List-Table {
    width: 100%;
    border-top:1px solid #000;
    padding:0;
}
.njob2 .List-Table li {
    position: relative;
    font-size: 13px;
    color: #3a3a3a;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e3e3e3;
}
.njob2 .List-Table li a {
    display: inline-block;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}
.njob2 .List-Table li a span {
    background: #3997f0;
    color:#fff;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 5px;
}
.njob2 .List-Table li:last-child {
    border-bottom: 1px solid #000;
}
.njob2 .willbesCenter {float:right; width:600px; height:297px; border:10px solid #f0f0f0; background:#fff; padding:40px 50px; text-align:left} 
.njob2 .willbesCenter h5 {font-size:24px; margin-bottom:30px; color:#000}
.njob2 .willbesCenter span { vertical-align: bottom;}
.njob2 .willbesCenter ul {width:100%; margin-top:34px}
.njob2 .willbesCenter ul li {display: inline; float:left; width:25%; padding:0; margin:0;}
.njob2 .willbesCenter ul li a {display:block; border-right:1px solid #e4e4e4; text-align:center}
.njob2 .willbesCenter ul li:last-child a {border-right:0; }
.njob2 .willbesCenter ul:after,
.njob2 .widthAuto:after {content:""; display:block; clear:both}
.njob2 .willbesCenter .tel {font-size:18px; margin-top:34px; line-height:1.5}

/* Main Container */
.njob2 .tx-color {
    color: #3997f0;
}
