/*********************************************     Main Container : Gosi Acad     *********************************************/
/* Main Container : Gosi Acad */
.GA .VisualBox {
    clear: both;
    float: left;
    width: 1120px;
    height: 380px;
    overflow: hidden;
}
.GA .VisualBox .MaintabList {
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
}
.GA .VisualBox .MaintabList ul li {
    background: #251c1c;
    display: inline-block; 
    height: 28px;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    border: 1px solid #fff;
    margin: 0 -2px;
}
.GA .VisualBox .MaintabList.three ul li {
    width: 209px;
}
.GA .VisualBox .MaintabList.four ul li {
    width: 156px;
}
.GA .VisualBox .MaintabList.five ul li {
    width: 188px;
}
.GA .VisualBox .MaintabList ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.GA .VisualBox .MaintabList ul li a:hover,
.GA .VisualBox .MaintabList ul li a.active { background:#FFF; color:#251c1c}

.GA .VisualsubBox {
    clear: both;
    float: left;
    width: 1120px;
    height: 160px;
    overflow: hidden;
}
.GA .VisualsubBox ul li {
    float: left;
    width: 370px;
    margin-left: 5px;
}
.GA .VisualsubBox ul li:first-child {
    margin-left: 0;
}

/* slider : 페이징 버튼 => bSlider */
.GA .bSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #b7b7b7;
}
.GA .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.GA .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.GA .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #ba560e;
}


.GA .Section2 {
    background: #f7f7f7;
}
.GA .Section .gosi-acadTit {
    font-size: 33px;
    color: #363636;
    line-height: 1;
}
.GA .Section .gosi-acadTit strong {
    vertical-align: baseline;
	color:#c19653;
} 
.GA .Section .gosi-acadTit span {
    color:#000;
	vertical-align: baseline;
}

/* Main Container : Prof */
.GA .Section .ProfBox li {
    float: left;
    width: 216px;
	height: 207px !important;
    margin-left: 10px;
	background: #330;
}
.GA .Section .ProfBox li:first-child {
    margin-left: 0;
}

.GA .Section .ProfBox:after {
    content: "";
    display: block;
    clear: both;
}

/* slider : 페이징 버튼 => bSlider */
.GA .ProfBox .bSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    width: 9px;
    height: 9px;
}
.GA .ProfBox .bSlider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.GA .ProfBox .bSlider .bx-wrapper .bx-pager.bx-default-pager a.active,
.GA .ProfBox .bSlider .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #313131;
}

/* Main Container : Notice : noticeTabs */
.GA .noticeTabs.acad {
    float: right;
    width: 698px;
    margin-top: 27px;
}